<template>
  <div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> {{version}}
      </div>
      <strong>{{copyright}}</strong>
    </footer>
    <button type="button" id="showInfoModal" style="display: none;" data-toggle="modal" data-target="#mInfoModal"></button>
    <Loading/>
  </div>
</template>
<script>
  const Loading = () => import('@/components/Loading');
  export default {
    components: {
      Loading,
    },
    data() {
      return {
        version: '1.3.4',
        copyright: '©MIND 2021.',
      }
    },
    mounted(){

    },
  }
</script>
