<template>
  <div>
    <header class="main-header">
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top unic-nav">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="display: none">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bars"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="header" style="margin-bottom:30px;">
                <input type="text" style="width:93%;position: absolute;" /><i style="margin-top:6px;position: absolute; right: 20px;" class="fa fa-search text-olive pull-right"></i>
              </li>
              <li class="header" @click="click_username()">
                <i class="fa fa-users text-olive"></i> {{this.$session.get('username')}}
              </li>
              <li class="header" v-for="te1 in $store.state.entity.tree">
                <a href="#" @click="change_asset(te1.id, te1.name)">
                  <i class="fa fa-long-arrow-right text-olive"></i> {{te1.name}}
                </a>
                <ul class="menu" style="margin-left: 25px;">
                  <li class="header" v-for="te2 in te1['children']">
                    <a href="#" @click="change_asset(te2.id, te2.name)">
                      <i class="fa fa-long-arrow-right text-olive"></i> {{te2.name}}
                    </a>
                      <ul class="menu" style="margin-left:15px;">
                        <li class="header" v-for="te3 in te2['children']">
                          <a href="#" @click="change_asset(te3.id, te3.name)">
                            <i class="fa fa-long-arrow-right text-olive"></i> {{te3.name}}
                          </a>
                          <ul class="menu" style="margin-left:15px;">
                            <li class="header" v-for="te4 in te3['children']">
                              <a href="#" @click="change_asset(te4.id, te4.name)">
                                <i class="fa fa-long-arrow-right text-olive"></i> {{te4.name}}
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <b>{{$store.getters.name}}</b>
        <div class="header-title">{{$store.state.controllers.headertitle}}</div>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">{{username}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  {{fullname}}
                  <br>
                  {{username}}
                  <br>
                  <div class="lang-flag">
                    <img src="/static/img/england.jpg" alt="English" @click="setLang('en')"
                         style="width:40px; height:40px"/>
                    <img src="/static/img/vietnam.jpg" alt="Vietnamese" @click="setLang('vi')"
                         style="width:40px; height:40px; margin-left:20px;"/>
                  </div>
                  <br>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a @click="goToProfilePage()" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a @click="logout()" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <app-sidebar></app-sidebar>
    <router-view></router-view>
    <app-footer></app-footer>
    <dialog-addasset />
  </div>
</template>

<script>
  import Sidebar from '@/components/partial/Sidebar'
  import Footer from '@/components/partial/Footer'
  import DialogAddasset from '@/components/Management/Dialog_Addasset.vue'
  export default {
    components: {
      'app-sidebar': Sidebar,
      'app-footer': Footer,
      'dialog-addasset': DialogAddasset,
    },
    computed: {
      asset_id(){
        return this.$store.state.entity.assetId;
      },
    },
    data() {
      return {
        User: {},
        username: '',
        fullname: '',
        tree_list: [],
        tree_list_all: [],
        tree_search: '',
      }
    },
    created() {
      this.check_is_login();
    },
    methods: {
      logout() {
        this.$session.destroy();
        localStorage.removeItem('username');
        this.$router.push('/login');
      },
      goToProfilePage() {
        this.$router.push('/user00101');
      },
      setLang(lang) {
        this.$store.dispatch('changeLanguage', lang);
        this.$i18n.locale = this.$store.state.i18n.lang;
      },
      click_username(){
        this.$store.state.entity.is_add_root = true;
        this.$store.state.controllers.dialog_addasset = true;
      },
      async change_asset(asset_id, asset_name){
        this.$store.dispatch('getGeneralInformation');
        this.$store.dispatch('getFormulaElectric');
        this.$store.dispatch('getComponents');
        this.$store.dispatch('getAlarmSetting');
        this.$store.commit("UPDATE_ASSETID", asset_id);
        this.$store.commit("UPDATE_NAME", asset_name);
      }
    },
    async mounted() {
      this.setLang('en');
      this.username = this.$session.get('username');
      this.$store.dispatch('getTree');
    },
    watch: {
      tree_search(){
        if(this.tree_search === ''){
          this.tree_list = this.tree_list_all;
        }else{

        }
      },
    },
  }
</script>
<style scope>
  .unic-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-title {
    font-size: 20px;
    font-weight: bold;
    color: #AEA79F;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
  }
</style>

