<template>
  <div>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" style="background-color: #01423E;">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <div>
          <a @click="$router.push('/')" class="logo" style="cursor: pointer;">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="/static/img/menu_icon/36.svg"/></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="/static/img/menu_icon/36.svg" height="50px"/></span>
          </a>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview" @click="change_current_menu(item.code)" v-for="item in menulistflat"
                :class="{'menu-open': item.code === get_current_menu()}"
                :key="item.code">
              <a @click="clickMenu(item.code)" :class="item.class">
                <img :src="item.icon" width="26px"/>
                <!--              <span> {{item.name}}</span>-->
                <!--              <span class="pull-right-container">-->
                <!--                  <i class="fa fa-angle-left pull-right"></i>-->
                <!--              </span>-->
              </a>
              <ul class="treeview-menu" :class="{'display_block_menu': item.code === get_current_menu()}"
                  v-if="item.children.length > 0">
                <li v-for="(item1,index1) in item.children" :key="item1.code">
                  <a @click="clickMenu(item1.code)">
                    {{index1+1}}.
                    {{item1.name}}
                  </a>
                  <ul v-if="item1.children.length > 0">
                    <li v-for="(item2,index2) in item1.children" :key="item2.code">
                      <a :href="`/${item2.code}`">
                        {{index1+1}}.{{index2+1}}.
                        <i v-if="item2.icon === null" class="fa fa-circle-o"></i>
                        {{item2.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
      <!-- /.sidebar -->
    </aside>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        menulist: [],
        menulistflat: [],
      }
    },
    methods: {
      async get_active_menu() {
        // let link = this.baseurl() + 'menu/list';
        // let usergroup = this.$session.get('usergroup');
        // if(typeof usergroup === 'undefined' || usergroup === '' || usergroup === 'undefined'){
        //   return [];
        // }
        // let data = {'user_role': usergroup};
        // this.menulist = await this.request(link, data);
        this.menulist = [
          {
            code: "dashboard",
            icon: '/static/img/menu_icon/Group 78.svg',
            class: "disable",
            name: "Cost Dashboard",
            parent: "",
            sequence: 1,
            children: []
          },
          {
            code: "analytics",
            icon: '/static/img/menu_icon/Group.svg',
            class: "disable",
            name: "Consumption Dashboard",
            parent: "",
            sequence: 2,
            children: []
          },
          {
            code: "alarm",
            icon: '/static/img/menu_icon/Group 77.svg',
            class: "disable",
            name: "Panel",
            parent: "",
            sequence: 3,
            children: []
          },
          {
            code: "report",
            icon: '/static/img/menu_icon/Group 76.svg',
            class: "disable",
            name: "Load Curve",
            parent: "",
            sequence: 4,
            children: []
          },
          {
            code: "entity_management",
            icon: '/static/img/menu_icon/Group 64.svg',
            class: "disable",
            name: "Entity Management",
            parent: "",
            sequence: 5,
            children: []
          },
        ];
        this.menulist.forEach(elem => {
          let check = '/dashboard';
          if (this.$route.path !== '/') {
            check = this.$route.path;
          }
          if ('/' + elem.code === check) {
            elem.class = "enable"
          } else {
            elem.class = "disable"
          }
        })
      },
      clickMenu(link) {
        if (this.$router.currentRoute.path === '/' + link) {
          return;
        }
        this.$router.push('/' + link);
        if ($(window).width() < 767) {
          $(".sidebar-mini").addClass("sidebar-collapse").removeClass("sidebar-open");
        }
        if (this.$route.path === '/') {
          link = 'dasboard';
        }
        this.menulist.forEach(elem => {
          if (elem.code === link) {
            elem.class = "enable"
          } else {
            elem.class = "disable"
          }
        });
      },
      change_current_menu(menu){
        localStorage.setItem('current_menu', menu);
      },
      get_current_menu(){
        return localStorage.getItem('current_menu');
      },
    },
    created() {
      this.check_is_login();
    },
    mounted() {
      this.get_active_menu();
    },
    watch: {
      menulist() {
        this.menulistflat = unflatten(this.menulist);
      },
    }
  }

  function unflatten(arr) {
    let tree = [],
      mappedArr = {},
      arrElem,
      mappedElem;

    // First map the nodes of the array to an object -> create a hash table.
    for (let i = 0, len = arr.length; i < len; i++) {
      arrElem = arr[i];
      mappedArr[arrElem.code] = arrElem;
      mappedArr[arrElem.code]['children'] = [];
    }
    for (let code in mappedArr) {
      if (mappedArr.hasOwnProperty(code)) {
        mappedElem = mappedArr[code];
        // If the element is not at the root level, add it to its parent array of children.
        if (mappedElem.parent) {
          mappedArr[mappedElem['parent']]['children'].push(mappedElem);
        }
        // If the element is at the root level, add it to first level elements array.
        else {
          tree.push(mappedElem);
        }
      }
    }
    return tree;
  }


</script>
<style>
  .display_block_menu {
    display: block;
  }

  .enable {
    background-color: var(--background-color-hover);
    border-image: linear-gradient(#ec6f66 30%, #f3a183 99%);
    border-image-slice: 1;
    border-style: solid;
    border-width: 0 0 0 3px;
  }
</style>
