<template>
  <v-card style="height: 322px;" class="card-outter-3">
      <v-card-text class="alarm-details">
        <div v-for="item in alarmItems"
            v-bind:key="item.title">
          {{ item.title }}
          <p>{{ item.value }}</p>
        </div>
      </v-card-text>
    </v-card> 
</template>

<script>
export default {
  name: 'AlarmPanel', 
  props: ["alarmItems"],
}
</script>

<style>
</style>