<template>
  <div>
    <div class="wrapper" style="overflow-y: hidden;">
      <div class="content-wrapper">
        <section class="content">
        <v-app>
          <v-row dense style="padding: 12px;" v-if="method !== 'null'">
            <v-card style="width: 100%;">
              <v-row dense>
                <v-col class="col-md-3 col-sm-3" style="min-width: 200px;">
                  <v-card-title style="color: #FF8926">
                    <i class="fas fa-file-invoice-dollar" style="margin-right: 0.5em;"></i>
                    <span>Cost</span>
                  </v-card-title>
                  <v-card id="cost" heigh="100%" class="card-outter">
                    <v-card-text class="details">
                      <div v-for="item in costItems"
                           v-bind:key="item.id"
                           class="detail">
                        {{ item.title }}
                        <span v-if="item.status" style="color: #D11616;">
                          <i class="fas fa-angle-double-up">
                            {{ item.rate }}
                          </i>
                        </span>
                        <span v-if="!item.status" style="color: #4FBA6F;">
                          <i class="fas fa-angle-double-down">
                            {{ item.rate }}
                          </i>
                        </span>
                        <p>{{ item.cost }} đ</p>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col class="col-md-9 col-sm-9" style="min-width: 350px;">
                  <v-card style="height: 100%;">
                    <v-card-text style="margin:0 auto;">
                      <v-row>
                        <v-col style="display: flex; justify-content: center; padding: 0px;">
                          <div class="ui breadcrumb" style="background: #fff;">
                            <div class="active section">This month</div>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row v-show="method === 'byTime'">
                        <v-col class="col-md-9">
                          <canvas ref="chart" style="max-height: 200px;"></canvas>
                        </v-col>
                        <v-col class="col-md-3">
                          <canvas ref="chart1" style="max-height: 200px;"></canvas>
                        </v-col>
                      </v-row>
                      <v-row v-show="method === 'byLevel'">
                        <v-col class="col-md-9">
                          <canvas ref="chart10" style="max-height: 200px;"></canvas>
                        </v-col>
                        <v-col class="col-md-3">
                          <v-simple-table fixed-header height="200px" dense>
                            <template v-slot:default>
                              <thead>
                                <tr>
                                  <th></th>
                                  <th class="text-right">total {đ}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <i class="fas fa-square" style="color: #61b15a"></i>
                                  </td>
                                  <td class="text-right">{{ temp1 }}</td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fas fa-square" style="color: #adce74"></i>
                                  </td>
                                  <td class="text-right">{{ temp2 }}</td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fas fa-square" style="color: #fff76a"></i>
                                  </td><td class="text-right">{{ temp3 }}</td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fas fa-square" style="color: #f58634"></i>
                                  </td><td class="text-right">{{ temp4 }}</td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fas fa-square" style="color: #f21170"></i>
                                  </td><td class="text-right">{{ temp5 }}</td>
                                </tr>
                                <tr>
                                  <td>
                                    <i class="fas fa-square" style="color: #72147e"></i>
                                  </td><td class="text-right">{{ temp6 }}</td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-card>
          </v-row>
          <v-row dense style="padding: 12px;">
            <v-card style="width: 100%">
              <v-row dense>
                <v-col class="col-md-3" style="min-width: 200px;">
                  <v-card-title style="color: #26A2FC">
                    <i class="fas fa-bolt" style="margin-right: 0.5em"></i>
                    <span>Consumption</span>
                  </v-card-title>
                  <v-card id="consumption" class="card-outter-2">
                    <v-card-text class="details">
                      <div v-for="item in consumptionItems"
                           v-bind:key="item.title"
                           class="detail">
                        {{ item.title }}
                        <span v-if="item.status" style="color: #D11616;">
                          <i class="fas fa-angle-double-up"></i>
                          {{ item.rate }}
                        </span>
                        <span v-if="!item.status" style="color: #4FBA6F;">
                          <i class="fas fa-angle-double-down"></i>
                          {{ item.rate }}
                        </span>
                        <p>{{ item.cost }} Wh</p>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col class="col-md-9" style="min-width: 350px;">
                  <v-card>
                    <v-card-text>
                      <v-row>
                        <v-col style="display: flex; justify-content: center; padding: 0px;">
                          <div class="ui breadcrumb" style="background: #fff;">
                            <button v-bind:class="sectionMonth" @click="onChangeConsumption" name="month">This month</button>
                            <div class="divider"> | </div>
                            <button v-bind:class="sectionDay" @click="onChangeConsumption" name="day">Today</button>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row v-show="isChartConsumption">
                        <v-col class="col-md-9">
                          <canvas ref="chart2" style="max-height: 200px;"></canvas>
                        </v-col>
                        <v-col class="col-md-3">
                          <canvas ref="chart3" style="max-height: 200px;"></canvas>
                        </v-col>
                      </v-row>
                      <v-row v-show="!isChartConsumption">
                        <v-col class="col-md-9">
                          <canvas ref="chart12" style="max-height: 200px;"></canvas>
                        </v-col>
                        <v-col class="col-md-3">
                          <canvas ref="chart13" style="max-height: 200px;"></canvas>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                  <v-card>
                    <v-card-text>
                      <v-simple-table fixed-header height="200px">
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th v-for="(header, index) in headerLegendCharts"
                                v-bind:key="index">
                                {{ header }}
                              </th>
                            </tr>
                          </thead>
                          <tbody v-if="isChartConsumption">
                            <tr v-for="data in dataLegendYearCharts"
                                v-bind:key="data.text">
                              <td>
                                <i class="fas fa-square" v-bind:style="data.color"></i>
                                {{ data.text }}
                              </td>
                              <td>{{ data.min }}</td>
                              <td>{{ data.average }}</td>
                              <td>{{ data.max }}</td>
                              <td>{{ data.total }}</td>
                            </tr>
                          </tbody>
                          <tbody v-if="!isChartConsumption">
                            <tr v-for="data in dataLegendDayCharts"
                                v-bind:key="data.text">
                              <td>
                                <i class="fas fa-square" v-bind:style="data.color"></i>
                                {{ data.text }}
                              </td>
                              <td>{{ data.min }}</td>
                              <td>{{ data.average }}</td>
                              <td>{{ data.max }}</td>
                              <td>{{ data.total }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-card>
          </v-row>
          <v-row>
            <v-col class="col-md-2 container1" style="min-width: 200px;">
              <v-row dense>
                <v-col style="padding-left: 12px;">
                  <v-card>
                    <v-card-title>
                      Voltage
                      <v-spacer></v-spacer>
                      {{ voltage }} V
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>
              <v-row dense style="margin-top:12px">
                <v-col style="padding-left: 12px;">
                  <v-card>
                    <v-card-title>
                      Current
                      <v-spacer></v-spacer>
                      {{ current }} A
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>
              <v-row  dense style="margin-top:12px">
                <v-col style="padding-left: 12px;">
                  <v-card>
                    <v-card-title>
                      Frequency
                      <v-spacer></v-spacer>
                      {{ frequency }} Hz
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col class="col-md-10">
              <v-card>
                <v-card-title>
                  Load curve (today)
                </v-card-title>
                <v-card-text>
                  <canvas ref="chart4" style="max-height: 150px;"></canvas>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row dense style="padding: 12px;">
            <v-card style="width: 100%;">
              <v-card-title>Alarm (today)</v-card-title>
              <v-card-text>
                <v-row>
                  <v-card class="col-md-6">
                    <v-row>
                      <v-col class="col-md-4">
                        <alarm-panel :alarmItems="alarmItems"></alarm-panel>
                      </v-col>
                      <v-col class="col-md-4">
                        <v-card style="height: 322x;" class="card-outter-3">
                          <v-card-text>
                            <canvas ref="chart15" style="max-height: 250px"></canvas>
                          </v-card-text>
                        </v-card>
                      </v-col>
                      <v-col class="col-md-4">
                        <v-card style="height: 322px;" class="card-outter-3">
                          <v-card-text class="unAck-details">
                            <div v-for="item in unAckItems"
                                v-bind:key="item.title">
                              {{ item.title }}
                              <p>{{ item.value }}</p>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-card>
                  <v-card class="col-md-6">
                    <v-card-text>
                      <template>
                        <v-data-table
                          v-model="selected"
                          show-select
                          :headers="headers"
                          :items="items"
                          :items-per-page="5"
                          :item-class="itemRowBackground"
                          hide-default-footer
                          hide-details
                          class="elevation-1"
                          dense
                        >
                          <template v-slot:top v-if="$store.state.controllers.group_buttons_ack_clear">
                            <!-- <v-btn icon v-on:click="onClickDetail(item)">
                              <i class="fas fa-check"></i>
                            </v-btn>
                            <v-btn icon v-on:click="onClickDetail(item)">
                              <i class="fas fa-times"></i>
                            </v-btn> -->
                            <v-btn @click="onClickMultiAck(listIdSelected)" rounded color="primary" dark small style="margin-left: 16px; margin-top: 5px;">ACKNOWLEDGE</v-btn>
                            <v-btn @click="onClickMultiClear(listIdSelected)" rounded color="primary" dark small style="margin-left: 16px; margin-top: 5px;">CLEAR</v-btn>
                          </template>
                          <template v-slot:[`item.actions`]="{ item }">
                            <v-btn icon v-on:click="onClickDetail(item)" @click="$store.state.controllers.dialog_alarm_detail = true">
                              <i class="fas fa-ellipsis-h"></i>
                            </v-btn>
                          </template>
                          <template v-slot:[`item.severity`]="{ item }">
                            <b v-if="item.severity === 'critical' && item.status.includes('ACTIVE')" style="color: #D11616">{{ item.severity }}</b>
                            <b v-else-if="item.severity === 'warning' && item.status.includes('ACTIVE')" style="color: #FFB926">{{ item.severity }}</b>
                            <b v-else>{{ item.severity }}</b>
                          </template>
                        </v-data-table>
                        <div class="text-center pt-2">
                          <v-pagination
                            v-model="page"
                            :length="pageCount"
                            circle
                            :total-visible="7"
                            color="#F44336"
                            v-on:input="onMyChange"
                          ></v-pagination>
                        </div>
                      </template>
                    </v-card-text>
                   </v-card>
                </v-row>
              </v-card-text>
            </v-card>
          </v-row>
          <v-row jusitfy="center">
            <v-dialog v-model="$store.state.controllers.dialog_alarm_detail" max-width="600px" persistent>
              <v-card>
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Alarm details</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <!-- <v-btn icon dark @click="$store.state.controllers.dialog_alarm_detail = false">
                    <i class="fas fa-times"></i>
                  </v-btn> -->
                </v-toolbar>
                <v-card-text>
                  <v-row>
                    <v-col cols="12" md="4">
                      <v-text-field label="Created time" v-model="createdTime">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field label="Originator" v-model="originatorName">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field label="Start time" v-model="startTs">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field label="End time" v-model="endTs">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-text-field label="Type" v-model="type">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-text-field class="style-severity-1" label="Severity" v-model="severity" v-if="severity === 'critical' && status.includes('Active')">
                      </v-text-field>
                      <v-text-field class="style-severity-2" label="Severity" v-model="severity" v-else-if="severity === 'warning' && status.includes('Active')">
                      </v-text-field>
                      <v-text-field class="style-severity-3" label="Severity" v-model="severity" v-else>
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field label="Status" v-model="status">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-textarea label="Details" v-bind:value="details">
                      </v-textarea>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="$store.state.controllers.dialog_alarm_detail = false">
                    Close
                  </v-btn>
                  <v-spacer></v-spacer>
                  <!-- <v-btn color="primary">
                    Acknowledge
                  </v-btn> -->
                  <v-btn :disabled="isClear" @click="onClickClear(id)" color="primary">
                    Clear
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </v-app>
        </section>
      </div>
    </div>
    <!-- ./wrapper -->
  </div>
</template>

<script>
  import JSZip from 'jszip'
  import { mapGetters } from 'vuex'
  import AlarmPanel from './AlarmPanel.vue'
  import axios from 'axios';
  window.JSZip = JSZip;
  export default {
    name: 'Dashboard',
    components: {
      'alarm-panel': AlarmPanel,
    },
    data () {
      return {
        isClear: false,
        createdTime: '',
        originatorName: '',
        startTs: '',
        endTs: '',
        type: '',
        severity: '',
        status: '',
        id: '',
        listIdSelected: [],
        pageApi: 0,
        details: {},
        columnpc: [
          {field: 'code', title: 'Code', width: 125},
          {field: 'name', title: 'Name'},
          {command: [{ text: 'Detail', click: this.showDetails, iconClass: 'fa fa-edit'}], title: 'Detail', width: 100, attributes:{style:"text-align: right;"}},
        ],
        columnmobile: [
          {field: 'code', title: 'Code', encoded: false},
          {field: 'name', title: 'Name'},
          {command: [{ text: 'Detail', click: this.showDetails, iconClass: 'fa fa-edit'}], title: 'Detail', width: 100, attributes:{style:"text-align: right;"}},
        ],
        sectionMonth: 'section active',
        sectionDay: 'section',
        isChartConsumption: true,
        headerLegendCharts: ['', 'min', 'average', 'max', 'total'],
        singleSelect: false,
        page: 1,
        selected: [],
        headers: [
          {
            text: 'Created time',
            align: 'start',
            sortable: false,
            value: 'createdTime',
          },
          { text: 'Originator', value: 'originatorName', sortable: false },
          { text: 'Type', value: 'type', sortable: false },
          { text: 'Severity', value: 'severity', sortable: false },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
        chart: null,
        chart1: null,
        chart2: null,
        chart3: null,
        chart4: null,
        chart5: null,
        chart6: null,
        chart7: null,
        chart10: null,
        fieldBarChartYearConsumption: {},
        fieldBarChartDayConsumption: {},
        fieldPieChartYearConsumption: {},
        fieldPieChartDayConsumption: {},
        fieldBarChartMonthCost: {},
        fieldPieChartMonthCost: {},
        fieldLineChartLoadCurve: {},
      }
    },
    computed: {
      ...mapGetters([
        'costItems',
        'consumptionItems',
        'dataLegendYearCharts',
        'dataLegendDayCharts',
        'levelMonthConsumption',
        'method',
        'labelBarChartYearConsumptions',
        'datasetBarChartYearConsumptions',
        'labelBarChartDayConsumptions',
        'datasetBarChartDayConsumptions',
        'labelPieChartYearConsumptions',
        'datasetPieChartYearConsumptions',
        'labelPieChartDayConsumptions',
        'datasetPieChartDayConsumptions',
        'labelBarChartMonthCost',
        'datasetBarChartMonthCost',
        'labelPieChartMonthCost',
        'datasetPieChartMonthCost',
        'assetId',
        'assets',
        'prices',
        'datasetLoadCurve',
        'labelLoadCurve',
        'voltage',
        'current',
        'frequency',
        'alarmItems',
        'unAckItems',
        'pageCount',
        'items',
        'name',
        'datasetCostByLevel',
        'labelCostByLevel',
        'maxCostByLevel',
        'temp1',
        'temp2',
        'temp3',
        'temp4',
        'temp5',
        'temp6',
      ])
    },
    methods: {
      itemRowBackground(item) {
        return item.status === 'ACTIVE_UNACK' || item.status === 'CLEARED_UNACK' ? 'style-1' : 'style-2'
      },
      onClickDetail(item) {
        this.createdTime = item.createdTime;
        this.originatorName = item.originatorName;
        this.startTs = item.startTs;
        this.endTs = item.endTs;
        this.type = item.type;
        this.severity = item.severity;
        this.status = item.status;
        this.id = item.id;
        if (item.status === 'ACTIVE_UNACK') {
          this.status = 'Active Unacknowledged';
          this.isClear = false;
        }
        if (item.status === 'ACTIVE_ACK') {
          this.status = 'Active Acknowledged';
          this.isClear = false;
        }
        if (item.status === 'CLEARED_UNACK') {
          this.status = 'Cleared Unacknowledged';
          this.isClear = true;
        }
        if (item.status === 'CLEARED_ACK') {
          this.status = 'Cleared Acknowledged';
          this.isClear = true;
        }
        this.details = JSON.stringify(item.details,undefined, 2);
      },
      async onClickAck(id) {
        await this.$store.dispatch('postAlarmAck', {
          id: id,
        });
        await this.$store.dispatch('getAlarmTable', {
          assetId: this.assetId,
          page: this.pageApi
        })
      },
      onClickMultiAck(listIdSelected) {
        listIdSelected.forEach(elem => {
          this.onClickAck(elem);
          this.listIdSelected = [];
          this.$store.state.controllers.group_buttons_ack_clear = false;
          this.selected = [];
        });
      },
      async onClickClear(id) {
        await this.$store.dispatch('postAlarmClear', {
          id: id,
        });
        this.$store.state.controllers.dialog_alarm_detail = false;
        await this.$store.dispatch('getAlarmTable', {
          assetId: this.assetId,
          page: this.pageApi
        })
      },
      onClickMultiClear(listIdSelected) {
        listIdSelected.forEach(elem => {
          this.onClickClear(elem);
          this.listIdSelected = [];
          this.$store.state.controllers.group_buttons_ack_clear = false;
          this.selected = [];
        });
      },
      async onMyChange(evt) {
        this.pageApi = evt - 1;
        await this.$store.dispatch('getAlarmTable', {
          assetId: this.assetId,
          page: this.pageApi,
        })
      },
      onChangeConsumption(evt) {
        const button = evt.target;
        if (button.name === 'month') {
          this.sectionMonth = 'section active';
          this.sectionDay = 'section';
          this.isChartConsumption = true;
        } else if (button.name === 'day') {
          this.sectionMonth = 'section';
          this.sectionDay = 'section active';
          this.isChartConsumption = false;
        }
      },
      async updatedAssetId() {
        await this.$store.dispatch('getComponents');
        await this.$store.dispatch('getFormulaElectric');
      },
      async updatedAssets(assetId, assets, prices, method, levelMonthConsumption, name) {
        await this.$store.dispatch('getYearConsumption', assetId);
        await this.$store.dispatch('getMonthConsumption', {
          assetId: assetId,
          meters: assets,
          name: name,
          prices: prices,
          method: method
        });
        await this.$store.dispatch('getDayConsumption', {
          assetId: assetId,
          meters: assets
        });
        var price = {};
        prices.forEach(elem => {
          price[elem.name] = elem.price
        });
        if (method === 'byTime') {
          await this.$store.dispatch('getYearCostByTime', {
            assetId: assetId,
            price: price,
          })
          await this.$store.dispatch('getMonthCostByTime', {
            assetId: assetId,
            price: price
          })
        }
        if (method === 'byLevel') {
          await this.$store.dispatch('getYearCostByLevel', {
            price: price,
            payload: levelMonthConsumption
          })
        }

        this.fieldBarChartYearConsumption = {
          labels: this.labelBarChartYearConsumptions,
          datasets: this.datasetBarChartYearConsumptions,
        };

        this.fieldBarChartDayConsumption = {
          labels: this.labelBarChartDayConsumptions,
          datasets: this.datasetBarChartDayConsumptions,
        };

        this.fieldPieChartYearConsumption = {
          labels: this.labelPieChartYearConsumptions,
          datasets: this.datasetPieChartYearConsumptions,
        };

        this.fieldPieChartDayConsumption = {
          labels: this.labelPieChartDayConsumptions,
          datasets: this.datasetPieChartDayConsumptions,
        };

        this.fieldBarChartMonthCost = {
          labels: this.labelBarChartMonthCost,
          datasets: this.datasetBarChartMonthCost
        };

        this.fieldPieChartMonthCost = {
          labels: this.labelPieChartMonthCost,
          datasets: this.datasetPieChartMonthCost,
        };

        await this.$store.dispatch('getLoadCurve', {
          assetId: this.assetId
        })

        this.fieldLineChartLoadCurve = {
          labels: this.labelLoadCurve,
          datasets: this.datasetLoadCurve,
        };
        await this.$store.dispatch('getVCF', {
          assetId: this.assetId
        });
        await this.$store.dispatch('getAlarmActiveItem', {
          assetId: this.assetId,
        });
        await this.$store.dispatch('getAlarmCriticalItem', {
          assetId: this.assetId,
        });
        await this.$store.dispatch('getAlarmWarningItem', {
          assetId: this.assetId,
        });
        await this.$store.dispatch('getUnackItem', {
          assetId: this.assetId
        });
        await this.$store.dispatch('getUnackCriticalItem', {
          assetId: this.assetId
        });
        await this.$store.dispatch('getUnackWarningItem', {
          assetId: this.assetId
        });
        await this.$store.dispatch('getAlarmTable', {
          assetId: this.assetId,
        });
      },
      async drawChart(){
        if(this.chart != null) this.chart.destroy();
        this.chart = new Chart(this.$refs.chart.getContext("2d"), {
          type: 'bar',
          options: {
            plugins: {
              title: {
                display: false,
                text: 'This month',
              },
              legend: {
                display: false,
              },
            },
            scales: {
              x: {
                stacked: true,
              },
              y: {
                stacked: true,
                ticks: {
                  callback: function(value, index, values) {
                    return value/1000 + 'kWh';
                  }
                }
              }
            },
            maintainAspecRatio: false,
            responsive: true,
          },
          data: this.fieldBarChartMonthCost,
        });
      },
      async drawChart1(){
        if(this.chart1 != null) this.chart1.destroy();
        this.chart1 = new Chart(this.$refs.chart1.getContext("2d"), {
          type: 'pie',
          options: {
            plugins: {
              legend: {
                position: "bottom",
                labels: {
                  boxWidth: 20,
                }
              },
            },
            maintainAspecRatio: false,
          },
          data: this.fieldPieChartMonthCost,
        });
      },
      async drawChart2(){
        if(this.chart2 != null) this.chart2.destroy();
        this.chart2 = new Chart(this.$refs.chart2.getContext("2d"), {
          type: 'bar',
          options: {
            plugins: {
              title: {
                display: false,
                text: 'This month',
              },
              legend: {
                display: false,
              },
            },
            scales: {
              x: {
                stacked: true,
              },
              y: {
                stacked: true,
                ticks: {
                  callback: function(value, index, values) {
                    return value/1000 + 'kwh';
                  }
                }
              }
            },
            maintainAspecRatio: false,
            responsive: true,
          },
          data: this.fieldBarChartYearConsumption,
        });
      },
      async drawChart3(){
        if(this.chart3 != null) this.chart3.destroy();
        this.chart3 = new Chart(this.$refs.chart3.getContext("2d"), {
          type: 'pie',
          options: {
            plugins: {
              legend: {
                display: false,
                position: "bottom",
                labels: {
                  boxWidth: 20,
                }
              },
            },
            maintainAspecRatio: false,
          },
          data: this.fieldPieChartYearConsumption,
        });
      },
      async drawChart4(){
        if(this.chart4 != null) this.chart4.destroy();
        this.chart4 = new Chart(this.$refs.chart4.getContext("2d"), {
          type: 'line',
          options: {
            plugins: {
              title: {
                display: true,
                text: 'Active power'
              },
              legend: {
                display: false,
              },
            },
            maintainAspecRatio: false,
            responsive: true
          },
          data: this.fieldLineChartLoadCurve
        });
      },
      async drawChart5(){
        if(this.chart5 != null) this.chart5.destroy();
        this.chart5 = new Chart(this.$refs.chart15.getContext('2d'), {
          type: 'pie',
          options: {
            plugins: {
              legend: {
                display: true,
                position: 'right',
                labels: {
                  boxWidth: 10,
                  boxHeight: 10,
                }
              },
            },
            maintainAspecRatio: false,
          },
          data: {
            labels: ['parameter', 'sensor'],
            datasets: [{
              data: [Math.random() * 10, Math.random() * 10],
              backgroundColor: [
                '#70AD47',
                '#4472C4'
              ]
            }],
          },
        });
      },
      async drawChart6(){
        if(this.chart6 != null) this.chart6.destroy();
        this.chart6 = new Chart(this.$refs.chart12.getContext("2d"), {
          type: 'bar',
          options: {
            plugins: {
              title: {
                display: false,
                text: 'Today',
              },
              legend: {
                display: false,
              },
            },
            scales: {
              x: {
                stacked: true,
              },
              y: {
                stacked: true,
                ticks: {
                  callback: function(value, index, values) {
                    return value + 'Wh';
                  }
                }
              }
            },
            maintainAspecRatio: false,
            responsive: true,
          },
          data: this.fieldBarChartDayConsumption,
        });
      },
      async drawChart7(){
        if(this.chart7 != null) this.chart7.destroy();
        this.chart7 = new Chart(this.$refs.chart13.getContext("2d"), {
          type: 'pie',
          options: {
            plugins: {
              legend: {
                display: false,
                position: "bottom",
                labels: {
                  boxWidth: 20,
                }
              },
            },
            maintainAspecRatio: false,
          },
          data: this.fieldPieChartDayConsumption,
        });
      },
      async drawChart10(){
        if(this.chart10 != null) this.chart10.destroy();
        this.chart10 = new Chart(this.$refs.chart10.getContext("2d"), {
          type: 'line',
          // The data for our dataset
          data: {
            labels: this.labelCostByLevel,
            datasets: [
              {
                label: "Level 7",
                backgroundColor: '#fff',
                borderColor: '#fff',
                pointRadius: 0,
                data: this.datasetCostByLevel,
                yAxisID: 'Value'
              },
              {
                label: "Level 1",
                fill: 'start',
                backgroundColor: '#61b15a',
                borderColor: '#61b15a',
                // borderWidth: 0,
                // lineTension: 0.9,
                pointRadius: 0,
                data: new Array(this.labelCostByLevel.length).fill(83900),
                yAxisID: 'Level',
              },
              {
                label: "Level 2",
                fill: 'start',
                backgroundColor: '#adce74',
                borderColor: '#adce74',
                pointRadius: 0,
                data: new Array(this.labelCostByLevel.length).fill(86700),
                yAxisID: 'Level',
              },
              {
                label: "Level 3",
                fill: 'start',
                backgroundColor: '#fff76a',
                borderColor: '#fff76a',
                pointRadius: 0,
                data: new Array(this.labelCostByLevel.length).fill(201400),
                yAxisID: 'Level',
              },
              {
                label: "Level 4",
                fill: 'start',
                backgroundColor: '#f58634',
                borderColor: '#f58634',
                pointRadius: 0,
                data: new Array(this.labelCostByLevel.length).fill(253600),
                yAxisID: 'Level',
              },
              {
                label: "Level 5",
                fill: 'start',
                backgroundColor: '#f21170',
                borderColor: '#f21170',
                pointRadius: 0,
                data: new Array(this.labelCostByLevel.length).fill(283400),
                yAxisID: 'Level',
              },
              {
                label: "Level 6",
                fill: 'start',
                backgroundColor: '#72147e',
                borderColor: '#72147e',
                pointRadius: 0,
                data: new Array(this.labelCostByLevel.length).fill(this.maxCostByLevel),
                yAxisID: 'Level',
              },
            ],
          },

          // Configuration options go here
          options: {
            scales: {
              Value: {
                position: 'right',
                max: this.maxCostByLevel,
                ticks: {
                  beginAtZero: true,
                },
                display: false,
              },
              Level: {
                position: 'left',
                max: this.maxCostByLevel,
                stacked: true,
                ticks: {
                  beginAtZero: true,
                  // max: 700,
                },
              },
            },
            plugins: {
              legend: {
                display: false,
                position: 'right',
                labels: {
                  boxWidth: 10,
                  boxHeight: 10,
                  filter: function(item, chart) {
                    return !item.text.includes('Level 7');
                  }
                }
              }
            }
          },
        });
      },
      async drawChartAllMethod(){
        await this.drawChart2();
        await this.drawChart3();
        await this.drawChart4();
        await this.drawChart5();
        await this.drawChart6();
        await this.drawChart7();
        if(this.method === 'byTime'){
          await this.drawChart();
          await this.drawChart1();
        }
        if(this.method === 'byLevel'){
          await this.drawChart10();
        }

      },
    },
    async mounted(){
      this.$store.commit('setHeader', 'DASHBOARD');
      await this.updatedAssetId();
      await this.updatedAssets(this.assetId, this.assets, this.prices, this.method, this.levelMonthConsumption, this.name);
      await this.drawChartAllMethod();
    },
    watch: {
      async assetId(){
        await this.updatedAssetId();
        await this.updatedAssets(this.assetId, this.assets, this.prices, this.method, this.levelMonthConsumption, this.name);
        await this.drawChartAllMethod();
      },
      selected() {
        if (this.selected.length > 0) {
          this.$store.state.controllers.group_buttons_ack_clear = true;
          this.listIdSelected = [];
          this.selected.forEach(elem => {
            this.listIdSelected.push(elem.id);
          });
        }
        if (this.selected.length === 0) {
          this.$store.state.controllers.group_buttons_ack_clear = false;
          this.listIdSelected = [];
        }
      },
    },
  }
</script>

<style>
#cost .details {
  display: grid;
  font-weight: bold;
}

#cost .details > *:first-child{
  grid-column: span 2;
  margin-bottom: 1em;
}

#cost .details .detail span {
  font-size: 80%;
}

#cost .details .detail p {
  margin-top: 0.25em;
  color: #FFB926;
}

#cost .details .detail:first-child p {
  font-size: 150%;
}

#consumption .details {
  display: flex;
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

#consumption .details > * {
  margin-bottom: 1em;
}

#consumption .details .detail span {
  font-size: 80%;
}

#consumption .details .detail p {
  margin-top: 0.25em;
  color: #26A2FC;
}

#consumption .detail:first-child p {
  font-size: 150%;
}

.card-outter {
  position: relative;
  padding: 1em;
  padding-right: 0;
  padding-left: 0;
  /* padding-bottom: 80px; */
}

.card-outter-3 {
  position: relative;
  padding: 1em;
  padding-right: 0;
  padding-left: 0;
  height: 322px;
  /* padding-bottom: 80px; */
}

.card-outter-2 {
  position: relative;
  padding: 50px;
  padding-right: 0;
  padding-left: 0;
  font-size: 700%;
}

.alarm-details {
  display: grid;
  font-weight: bold;
}

.alarm-details > *:first-child {
  grid-column: span 2;
  margin-bottom: 1em;
  font-size: 300%;
  color: #2394E7;
}

.alarm-details > *:nth-child(2) {
  color: #D11616;
  font-size: 150%;
}
.alarm-details > *:nth-child(3) {
  color: #FFB926;
  font-size: 150%;
}

.unAck-details {
  display: grid;
  font-weight: bold;
  font-size: 150%;
}

.unAck-details > *:first-child {
  grid-column: span 2;
  margin-bottom: 3em;
  font-size: 110%;
}

.v-card__text {
  line-height: none;
  margin: 0.5em;
}

button:focus {
  outline: none;
  border: none;
}
.style-1 {
  background-color: #E6ECEC;
}
.style-2 {
  background-color: #fff;
}

.style-severity-1 input {
  color: #D11616 !important;
}

.style-severity-2  input {
  color: #FFB926 !important;
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container1 .v-card__title {
  font-size: inherit;
}

</style>
