<template>
  <div>
    <div class="wrapper">
      <div class="content-wrapper">
        <section class="content">
          <div class="row" style="margin-top: 5px;">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
              <div class="box box-warning">
                <div class="box-header">
                  <i class="fa fa-users"></i>
                  <h3 class="box-title">Profile</h3>
                  <div class="pull-right box-tools">
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Fullname: </label> {{$session.get('fullname')}}
                  </div>
                  <div class="form-group">
                    <label>Username: </label> {{$session.get('username')}}
                  </div>
                  <div class="form-group">
                    <label>Plant: </label> {{$session.get('plant_code')}}
                  </div>
                  <div class="form-group">
                    <label>Plant code: </label> {{$session.get('sap_plantcode')}}
                  </div>
                  <div class="form-group">
                    <label>Purchase org: </label> {{$session.get('purchase_org')}}
                  </div>
                </div>
                <div class="box-footer clearfix">
                  <button type="button" class="btn btn-warning" @click="goToHomepage()"><i class="fa fa-arrow-circle-left"></i> GO HOME</button>
                </div>
              </div>
            </section>
            <!-- /.Left col -->
            <!-- Right col -->
            <section class="col-lg-6 connectedSortable">
              <div class="box box-warning">
                <div class="box-header">
                  <i class="fa fa-compass"></i>
                  <h3 class="box-title">Change Password</h3>
                  <div class="pull-right box-tools">
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label for="">{{$t('Old password')}}</label>
                    <input type="password" class="form-control" v-model="currentpassword">
                  </div>
                  <div class="form-group">
                    <label for="">{{$t('New password')}}</label>
                    <input type="password" class="form-control" v-model="newpassword">
                  </div>
                  <div class="form-group">
                    <label for="">{{$t('New password')}}</label>
                    <input type="password" class="form-control" v-model="newpasswordagain">
                  </div>
                </div>
                <div class="box-footer clearfix">
                  <button type="button" class="pull-right btn btn-success" @click="changePassword()">OK <i class="fa fa-arrow-circle-right"></i></button>
                </div>
              </div>
              <!-- END Right col -->
            </section>
          </div>
        </section>
      </div>
    </div>
    <!-- ./wrapper -->
  </div>
</template>

<script>
  export default {
    data () {
      return {
        currentpassword: '',
        newpassword: '',
        newpasswordagain: '',
      }
    },
    methods: {
      checkValid(){
        let retval = true;
        if(this.newpassword !== this.newpasswordagain){
          this.$message.error('New Password does not match.');
          retval = false;
        }
        return retval;
      },
      async changePassword(){
        if(this.checkValid()){
          let link = this.baseurl() + 'user/changepassword';
          let data = {
            'username': this.$session.get('username'),
            'oldpassword': this.currentpassword,
            'newpassword': this.newpassword
          };
          let response = await this.request(link, data);
          if(response.successful === true){
            this.$session.destroy();
            this.goToPage('login')
          }
          if(response.successful === false){
            this.$notify.error(this.$t('Old password is incorrect, please check'));
          }
        }
      },
      goToHomepage(){
        this.$router.push('/');
      },
    },
    created(){
      this.$store.commit('setHeader', 'User Profile');
    },
    mounted(){


    }
  }
</script>
