<template>
  <div class="login-box">
    <div class="login-content-box">
        <div class="login-logo">
          <img class="logo-image" src="/static/img/logo_mind.png" alt="" />
        </div>
        <div class="login-box-body">
          <div>
            <div class="form-group has-feedback">
              <label for="">{{$t("Username")}}</label>
              <input type="text" v-on:keyup.enter="login" v-model="username" class="form-control usersss" autofocus placeholder="Username" />
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="">{{$t("Password")}}</label>
              <input type="password" v-on:keyup.enter="login" v-model="password" class="form-control pass" placeholder="Password" />
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p style="font-weight:500; color:red; text-align:center;" v-bind:class="{available:available}">{{ err_msg }}</p>
              </div>
            </div>
            <div @click="login()" class="btn btn-success btn-block btn-flat" style="margin-top: 10px;">Đăng nhập</div>
          </div>
        </div><!-- /.login-box-body -->
      </div>
  <loading />
  </div><!-- /.login-box -->
</template>
<script>
  import Loading from '@/components/Loading'
  export default {
    components: {
      'loading': Loading,
    },
    data () {
      return {
        username: 'mindenergyproject@example.com',
        password: 'mind1234',
        err_msg: '',
        available: false,
      }
    },
    methods: {
      async login () {
        if (this.username === '' || this.password === '') {
          this.$notify.error(this.$t('Username and password can not let blank'));
          return;
        }
        this.$store.commit('setLoading', true);
        let link = this.baseurl() + 'user/login';
        let data = {
          "username": (this.username).toLowerCase(),
          "password": this.password
        };
        let response = await this.request(link, data);
        if(response['status'] === 401){
          this.err_msg = "Wrong username and password";
          this.available = true;
          this.$store.commit('setLoading', false);
        }
        else {
          this.$session.start();
          this.$session.set('username', this.username);
          this.$session.set('token', response['token']);
          localStorage.setItem('username', this.username);
          localStorage.setItem('token', response['token']);
          window.location.href = './';
          // this.$router.push('/');
          this.$store.commit('setLoading', false);
        }
      },

    },
    mounted () {

    }
  }
</script>
<style>
html {
  overflow-y: hidden;
}

#app {
  height: auto;
  width: 100%;
  position: absolute;
  color: rgb(201,209,217);
}
.login-box {
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(0,0,0);
  min-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;

}


.login-box:before{
  
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  background: url(https://play.grafana.org/public/img/g8_login_dark.svg) 0% 0% / cover;
  transition: opacity 3s ease-in-out 0s;

}

.login-box .login-content-box {
  max-width: 478px;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 1;
  min-height: 320px;
  border-radius: 8px;
  padding: 16px 0px;
  transition: opacity 0.5s ease-in-out 0s;
  background: 0% 0% / cover rgba(24, 27, 31, 0.3);
}

.login-content-box .login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 100px;
}

.logo-image {
  width: 100%;
  max-width: 150px;
  margin-bottom: 15px;
}

.login-box-body {
  display: flex;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100vh;
  width: 100%;
  transform: translate(0px,0px);
  transition: all 0.25s ease 0;
  background: 0% 0% / cover rgba(17, 18, 23, 0.01);
}

.form-group.has-feedback {
  display: flex;
  flex-direction: column;
  white-space: wrap;
}

.form-control.usersss, .form-control.pass {
  line-height: 1.5;
  font-size: 14px;
  border: 1px solid rgba(201, 209, 217, 0.15);
  position: relative;
  z-index: 0;
  flex-grow: 1;
  border-radius: 2px;
}

.login-box-body label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  color: rgb(201, 209, 217);
  max-width: 480px;
}

.row {
  margin: 0px auto;
}

.col-xs-12 {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
}

</style>
