[data-grid] {
    display: grid;
    margin-top: 0.5em;
    padding: 1em;
    padding-bottom: 0px;
    grid-gap: 1em;
}

[data-grid] > * {
    text-align: center;
}

[data-grid="1"] {
    grid-template-columns: 1fr 1fr 1fr;
}

[data-grid] > *:first-child {
    margin-left: 53px;
}

[data-grid] > div:nth-child(2) {
    position: relative;
    font-weight: bold;
    right: 15px;
    top: 2px;
}

[data-grid] > *:last-child {
    position: relative;
    right: 32px;
}

.ui.table thead th {
    background: #fff;
    border: 0px;
}

.ui.table tr td {
    border: 0px;
}

.ui.floating.label {
    top: 0em;
    left: 87%;
    border-radius: 20px;
}
