/* ======== Reset CSS ============== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*======= Variables css ============*/
:root{

    --header-height: 3rem;
    --nav-width: 60px;

    /* Colors */
    --first-color: #01423e;/*#202226*/
    --first-color-light: #464c54; /*#81b4b1*/
    --white-color: #f7f6fb;
    --icon-color: #9fa7b3;
    --background-color-hover: #015b56;/*#2c3235*/
    --color-side-menu-header: #e9edf2;
    --color-border-divider: #c7d0d9;
    --color-email: #7b8087;
    --color-box-shadow: #52545c;
    /* font and typography */
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;

    /* z-index */
    --z-fixed: 1;
}
/* 1. Location
   2. Size
   3. Color
   4. Style */

body, html {
    font-size: var(--normal-font-size);
    height: 100%;
}

body {
    position: absolute;
    /* height: 1080px; */
    width: 100%;
    background-color: #f7f8fa;
    line-height: 1.5;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

a{
    text-decoration: none;
}

/*============= Header =============== */
#header {
    width: 100%;
    height: var(--header-height);
    position: fixed; /* always stays header in same place if page is srolled*/
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

#header .header-toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

#header .text-header {
    display: inline-block;
    font-size: 1.5rem;
    color: #514D4D;
    font-weight: bold;
    margin: 0 10px;
}

/* ============= Nav-sidebar =============*/

#nav-sidebar {
    position: fixed;
    top: 0;
    /* left: -30%; */
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    /* padding: .5rem 1rem 0 0; */
    transition: .5s;
    z-index: var(--z-fixed);

}

#nav-sidebar .sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: none;
}

/*============= Sidemenu logo of icon ============= */

.sidebar .sidemenu-logo {
    
    display: block;
    padding: 10px 0;
    position: relative;
    min-height: 51px;
    height: 50px;
    cursor: pointer;
}

/* .box-sidebar:hover .sidemenu-logo {
    background: var(--first-color-light);
} */

.sidebar .sidemenu-logo-icon {
    position: absolute;
    top: 16px;
    left: 8px;
    width: 40px;
    border: 0;
}

/*============= Sidebar list of sidemenu item ============= */

.sidebar .sidemenu-list {
    display: block;
    /* padding-top: 10px; */
    position: relative;
    /* top: 44px; */
    padding-top: 40px;
}

.sidebar .sidemenu-item {
    position: relative;
    border-left: 2px solid rgba(0, 0, 0, 0);
}

.sidemenu-list .dropdown-menu-sidemenu {
    
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    min-width: 140px;
    background: #fff;
    list-style: none;
    text-align: left;
    border: none;
    float: left;
}

.dropdown-menu-sidemenu {
    box-shadow: 5px 5px 10px -5px var(--color-box-shadow);
}

/*===== Handle hidden or show items ===========*/

.sidemenu-list .sidemenu-item:hover .dropdown-menu-sidemenu , .sidemenu-bottom .sidemenu-item:hover .dropdown-menu {
    display: block;
}

/* ========= End Task ========= */
.sidemenu-list .side-menu-header , .sidemenu-bottom .side-menu-header {
    /* padding: 10.5px; */
    padding: 7.5px 10px 7.5px 10px;
    white-space: nowrap;
    background-color: var(--background-color-hover);
    font-size: 17px;
    color: var(--color-side-menu-header);
}

.dropdown-menu-sidemenu>li>a {
    display: flex;
    padding: 5px 10px;
    border-left: 2px solid rgba(0,0,0,0);
    /* white-space :  text in order a single whitespace*/
}

.dropdown-menu>li>a {
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    color: var(--first-color-light);
}
.dropdown-menu-sidemenu .side-menu-header-link {
    color: var(--color-side-menu-header)
}

.css-icon {
    display: inline-block;
    margin-right: 8px;
    width: 25px;
    height: 25px;
}


.sidemenu-list > li {
    line-height: 1.5;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: var(--color-side-menu-header);
    border-bottom: 1px solid var(--color-border-divider);
}

/*============= Hover: for side menu items =============*/

.sidebar .sidemenu-item:hover {
    background-color: var(--background-color-hover);
    border-image: linear-gradient(#ec6f66 30%,#f3a183 99%);;
    border-image-slice: 1;
    border-style: solid;
    border-width: 0 0 0 3px;
    display: block;
}

.dropdown-menu .dropdown-menu-item:hover {
    background-color: var(--color-border-divider);
    border-image: linear-gradient(#a8e063 30%,#56ab2f 99%);;
    border-image-slice: 1;
    border-style: solid;
    border-width: 0 0 0 2px;
}

.sidebar  .sidemenu-link {
    position: relative;
    line-height: 18px;
    padding: 0 10px;
    display: block;
    text-align: center;
    color: var(--icon-color);
    font-size: 14px;
    
}

.icon-circle {
    position: relative;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.sidebar .sidemenu-image {
    display: inline-block;
    margin: 10px 0 10px 0;
    width: 25px;
    height: 25px;
}

/*============= Sidebar list of sidemenu bottom =============*/

.sidebar .sidemenu-bottom {
    display: block;
    padding-bottom: 16px;
}

.sidemenu-bottom .sidemenu-link img {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sidemenu-subtitle {
    border-bottom: 1px solid var(--color-border-divider);
    padding: 8px 16px;
    font-size: 12px;
    color: var(--color-email);
    margin-bottom: 4px;
    white-space: nowrap;
}

.sidemenu-bottom .dropdown-menu-sidemenu{
    position: absolute;
    bottom: 0;
    left: 100%;
    list-style-type: none;
    margin: 0;
    display: none;
    background: #fff;
}
