body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article > nav { grid-area: menu; z-index: 2;}
article > section { grid-area: content; z-index: 1;}
article > header { grid-area: header; }

article {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "menu header"
        "menu content";
    grid-template-columns: 1fr 36fr;
    grid-template-rows: 1fr 24fr;
}

article {
    /* background-color: #333; */
    color: #444;
    max-width: 100%;
    max-height: 100vh;
}

article > * {
    background-color: #fff;
}

article > nav {
    background-color: #01423E;
    width: 50px;
    display: flex;
    flex-direction: column;
    position: sticky;
}

.ui.small.image {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.ui.small.image:first-child {
    padding: 0px;
    margin-bottom: 30px;
}

.ui.small.image:nth-child(6) {
    background-color: rgba(196, 196, 196, 0.3);
    border-left: 3px solid #fff;
}

.ui.small.image:nth-child(7) {
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.ui.small.image:nth-child(8) {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.ui.floating.label {
    top: 0em;
    left: 87%;
    border-radius: 20px;
}

article > header {
    font-size: 32px;
    padding: 0.5em;
}

section #general-information { grid-area: general-information; }
section #formula-electric { grid-area: formula-electric; }
section #components { grid-area: components; }
section #kpi-setting { grid-area: kpi-setting; }
section #alarm-setting { grid-area: alarm-setting }

section {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "general-information formula-electric alarm-setting"
        "components kpi-setting alarm-setting"
        ". . .";
    max-width: 100%;
    max-height: 400px;
    /* background-color: #333;
    color: #444; */
    padding: 1em;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
}

section > *{
    background: #fff;
    color: #000;
    padding: 2em;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Genaral Information */
#general-information span {
    position: absolute;
    bottom: 5px;
    right: 15px;
    margin-top: 5px;
}

h3 {
    color: #01423E;
    /* Center the content */
    justify-content: center;
    display: flex;
}

/* Formula electric */
/*section #formula-electric {
    height: 400px;
}*/

section #formula-electric h3:nth-child(2){
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    color: #484848;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.formula-electric-levels .formula-electric-level {
    grid-area: formula-electric-level;
    background-color: #4DC367;
    color: #fff;
    font-weight: bold;
    padding: 0.25em;
    padding-left: 1.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.formula-electric-levels .formula-electric-cost {
    grid-area: formula-electric-cost;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0.25em;
}
.formula-electric-levels .formula-electric-unit {
    grid-area: formula-electric-unit;
    padding: 0.25em;
}

section #formula-electric .formula-electric-levels {
    display: grid;
    grid-template-areas:
        "formula-electric-level formula-electric-cost formula-electric-unit";
    grid-template-columns: 8fr 2fr 2fr;
    margin-top: 5px;
}

#formula-electric span {
    position: absolute;
    bottom: 5px;
    right: 15px;
    margin-top: 5px;
}

/* Alarm settting */

.alarm-when [data-grid] {
    display: grid;
    margin-top: 0.5em;
    padding-bottom: 0px;
}

.alarm-when [data-grid] > *{
    text-align: center;
}

.alarm-when [data-grid="1"] {
    grid-template-columns: 1fr 1fr 1fr;
}

.alarm-when [data-grid] > *:first-child {
    margin-left: 33px;
}

.alarm-when [data-grid] > div:nth-child(2) {
    position: relative;
    font-weight: bold;
    right: 15px;
    top: 2px;
}

.alarm-when [data-grid] > *:last-child {
    position: relative;
    right: 32px;
}

#alarm-setting .ui.bottom.attached.active.tab.segment {
    height: 90%;
    display: grid;
    grid-template-areas: 
        "alarm-when-first" 
        "alarm-when-second";
}

.alarm-when-first { grid-area: alarm-when-first; }
.alarm-when-second { grid-area: alarm-when-second; }

/* KPI setting */
#kpi-setting span {
    position: absolute;
    bottom: 5px;
    right: 15px;
    margin-top: 5px;
}
