:root{

    --header-height: 3rem;
    --nav-width: 60px;

    /* Colors */
    --first-color: #01423e;/*#202226*/
    --first-color-light: #464c54; /*#81b4b1*/
    --white-color: #f7f6fb;
    --icon-color: #9fa7b3;
    --background-color-hover: #015b56;/*#2c3235*/
    --color-side-menu-header: #e9edf2;
    --color-border-divider: #c7d0d9;
    --color-email: #7b8087;
    --color-box-shadow: #52545c;
    /* font and typography */
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
}
dt { float: left; clear: left; text-align: right; font-weight: bold; margin-right: 10px }
dd {  padding: 0 0 0.5em 0; }
.k-dropdown{
    width: 100%;
}
.k-combobox{
    width: 100%;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}
.content{
    padding: 0;
    min-height:  none;
    margin-left: 0px;
    margin-right: 0px;
}
.content-wrapper{
    background-color: #ffffff !important;
    z-index: 800;
}
.user-header{
    background-color: #3f9fff !important;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    right: 0;
}

.navbar-nav>.user-menu>.dropdown-menu {
    width: 243px;
}
.lang-flag{
    margin-top: 24px;
}

.content-wrapper{
    min-height: 500px !important;
}

.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all .8s  cubic-bezier(1.0, 1.0, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;}
.form-group-box {
  padding: 5px;
  border: 1px solid lightgray;
}
.form-control{
  border-radius: 4px;
  height: 32px;
}
.space {
    margin-right: 10px;
}
label {
    margin-top: 7px;
}
.sidebar-menu>li>a{
    padding: 12px 5px 12px 5px;
}
.menu > li > a {
    border-bottom: none !important;
}




[data-grid] {
    display: grid;
    margin-top: 0.5em;
    padding: 1em;
    padding-bottom: 0px;
    grid-gap: 1em;
}

[data-grid] > * {
    text-align: center;
}

[data-grid="1"] {
    grid-template-columns: 1fr 1fr 1fr;
}

[data-grid] > *:first-child {
    margin-left: 53px;
}

[data-grid] > div:nth-child(2) {
    position: relative;
    font-weight: bold;
    right: 15px;
    top: 2px;
}

[data-grid] > *:last-child {
    position: relative;
    right: 32px;
}

.ui.table thead th {
    background: #fff;
    border: 0px;
}

.ui.table tr td {
    border: 0px;
}

.ui.floating.label {
    top: 0em;
    left: 87%;
    border-radius: 20px;
}


.box-actions {
	position: absolute;
}

.v-box__actions {
    align-items: center;
    display: flex;
    padding: 0;
    margin-left: -6px;
    margin-top: -4px;
}

.v-box__actions .color-components {
    color:#00b09b !important;
}

.v-box__actions>.v-btn-components {
    padding: 0 6px;
}

.theme--light.v-btn-components.v-btn--icon {
	color: rgba(0,0,0,.54);
}

.v-btn-components::before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.theme--light.v-btn-components:hover:before {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.2;
}

.ui.list>.item>.content {
    display: table-cell;
    padding-left: 2.5em;
}

.ui.list>.item .cell-content {
    display: block;
    margin: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,.87);
}

/* =======================Change by Linh============================== */
/* ============Adjust sidebar=============== */
.sidebar .logo {
    
    display: flex;
    padding: 8px 0;
    position: relative;
    top: 0px;
    height: 60px;
    cursor: pointer;
}

.main-sidebar .logo>.logo-mini {
    display: none;
}

.main-sidebar .logo>.logo-lg {
    display: block;
}

.sidebar .logo .logo-mini img {
    max-width: 50px;
    max-height: 50px;
}

.sidebar .logo .logo-lg img {
    max-width: 200px;
    max-height: 50px;
}

.sidebar .logo img {
    padding: 2px;
    object-fit: contain;
    margin: 0 auto;
}

.sidebar-menu {
    display: block;
    position: relative;
    margin-bottom: 40px;
}

.sidebar-menu>li>a {
    padding: 12px 14px 12px 13px;
}

/* ================================== */
.main-sidebar {
    position: fixed;
    top: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color) !important;
    transition: .5s;
    padding-top: 0;
}

.main-sidebar .sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: none;
}

.main-header {
    z-index: 800 !important;
    position: fixed;
    width: calc(100% - var(--nav-width)) !important;
    right: 0;
}

.content {
    margin-top: 3.5rem;
}

.skin-black-light .main-header .navbar .navbar-nav>li>a {
    border: none;
}

.row--dense>[class*=col-] {
    padding: 12px !important;
}
/* ============================== */

@media (min-width: 768px) {

    .main-sidebar .logo>.logo-mini {
        display: block;
        /* position: absolute; */
        margin-left: 5px;
        font-size: 18px;
    }
    .main-sidebar .logo>.logo-lg {
        display: none;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar {
        width: var(--nav-width) !important;
    }
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 0px !important;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper {
        margin-left: var(--nav-width) !important;
    }
}

@media (max-width: 767px) {
    
    .logo{
        display: none !important;
    }
    .user{
        display: none !important;
    }
    .main-sidebar {
        padding-top: 47px;
    }
    .main-header {
        width: 100% !important;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar > b {
        display: none;
    }

}


/* =========Hover================= */

.skin-black-light .sidebar-menu>li:hover>a {
    background-color: var(--background-color-hover);
    border-image: linear-gradient(#ec6f66 30%,#f3a183 99%);
    border-image-slice: 1;
    border-style: solid;
    border-width: 0 0 0 3px;
}
/* =========End Hover================= */

/* ===========End by Linh=========== */

  