body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article > nav { grid-area: menu; }
article > section { grid-area: content; }
article > header { grid-area: header; }

article {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "menu header"
        "menu content";
    grid-template-columns: 1fr 36fr;
    grid-template-rows: 1fr 24fr;
}

article {
    /* background-color: #333; */
    color: #444;
    max-width: 100%;
    max-height: 100vh;
}

article > * {
    background-color: #fff;
}

article > nav {
    background-color: #01423E;
    width: 50px;
    display: flex;
    flex-direction: column;
    position: sticky;
}

.ui.small.image {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.ui.small.image:first-child {
    padding: 0px;
    margin-bottom: 30px;
}

.ui.small.image:nth-child(2) {
    background-color: rgba(196, 196, 196, 0.3);
    border-left: 3px solid #fff;
}

.ui.small.image:nth-child(7) {
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.ui.small.image:nth-child(8) {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.ui.floating.label {
    top: 0em;
    left: 87%;
    border-radius: 20px;
}

article > header {
    font-size: 32px;
    padding: 0.5em;
}

section > #cost { grid-area: cost; }
section > #consumption { grid-area: consumption; }
section > #voltage { grid-area: voltage; }
section > #current { grid-area: current; }
section > #frequency { grid-area: frequency; }
section > #load-curve { grid-area: load-curve; }
section > #alarm { grid-area: alarm; }

section {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "cost cost"
        "consumption consumption"
        "voltage load-curve"
        "current load-curve"
        "frequency load-curve"
        "alarm alarm";
    grid-template-columns: 1fr 4fr;
}

section {
    min-height: 20em;
    /* background-color: #333; */
    color: #444;
    padding: 16px;
    font-size: 150%;
}

section > *{
    background: #fff;
}

section > #cost .cost-header { grid-area: cost-header; }
section > #cost .details { grid-area: details; }
section > #cost .this-month-cost { grid-area: this-month-cost; }

section > #cost {
    padding: 0.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-areas:
        "cost-header this-month-cost"
        "details this-month-cost";
    grid-template-columns: 1fr 4fr;
}

section > #cost .cost-header {
    height: 0px;
}

section > #cost .details {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5em;
    margin-bottom: 0px;
    padding: 0.5em;
    display: grid;
    font-weight: bold;
    color: #818181;
}

section > #cost .details > *:first-child{
    grid-column: span 2;
    margin-bottom: 1em;
}

#cost .detail span {
    font-size: 50%;
}

#cost .detail p {
    margin-top: 0.25em;
    color: #FFB926;
}

#cost .detail:first-child p {
    font-size: 150%;
}

#cost .this-month-cost #title { grid-area: title; }
#cost .this-month-cost #bar-chart { grid-area: bar-chart; }
#cost .this-month-cost #pie-chart { grid-area: pie-chart; }

section > #cost .this-month-cost {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "title title"
        "bar-chart pie-chart";
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#title {
    display: flex;
    justify-content: center;
}

/* Consumption */
section > #consumption .cost-header { grid-area: cost-header; }
section > #consumption .details { grid-area: details; }
section > #consumption .this-month-cost { grid-area: this-month-cost; }
section > #consumption .this-month-lengend { grid-area: this-month-lengend; }

section > #consumption {
    padding: 0.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-areas:
        "cost-header this-month-cost"
        "details this-month-cost"
        "details this-month-lengend";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 6fr 4fr;
}

section > #consumption .cost-header {
    height: 0px;
}

section > #consumption .details {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5em;
    margin-bottom: 0px;
    padding: 0.5em;
    display: flex;
    font-weight: bold;
    color: #818181;
    justify-content: center;
    flex-direction: column;
}

section > #consumption .details > *{
    margin-bottom: 1em;
}


#consumption .detail span {
    font-size: 50%;
}

#consumption .detail p {
    margin-top: 0.25em;
    color: #26A2FC;
}

#consumption .detail:first-child p {
    font-size: 150%;
}

#consumption .this-month-cost #title { grid-area: title; }
#consumption .this-month-cost #bar-chart { grid-area: bar-chart; }
#consumpiton .this-month-cost #pie-chart { grid-area: pie-chart; }

section > #consumption .this-month-cost {
    display: grid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    grid-template-areas:
        "title title"
        "bar-chart pie-chart";
    grid-template-columns: 4fr 1fr;
}

section > #consumption .this-month-lengend {
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Voltage */
section > #voltage {
    padding: 1em;
    color: #01423E;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

section > #voltage span {
    float: right;
    color: #818181;
    font-weight: 700;
}

/* Current */
section > #current {
    padding: 1em;
    color: #01423E;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

section > #current span {
    float: right;
    color: #818181;
    font-weight: 700;
}

/* Frequency */
section > #frequency {
    padding: 1em;
    color: #01423E;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

section > #frequency span {
    float: right;
    color: #818181;
    font-weight: 700;
}

/* Load curve */
section > #load-curve {
    padding: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-dashboard {
    font-weight: bold;
    color: #01423E;
}

.header-dashboard span {
    font-size: 80%;
}

#line-chart {
    max-height: 150px;
}

/* Alarm */
section > #alarm {
    padding: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#alarm .header-dashboard {grid-area: header-dashboard;}
#alarm .alarm-active {grid-area: alarm-active;}
#alarm .unack {grid-area: unack;}
#alarm .alarm-table {grid-area: alarm-table}

#alarm {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "header-dashboard header-dashboard header-dashboard"
        "alarm-active unack alarm-table";
    grid-template-columns: 2fr 1fr 3fr;
}

#alarm .alarm-active {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 4fr;
    font-weight: bold;
    padding: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#alarm .alarm-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 250px;
    width: 250px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#alarm .unack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 110%;
    font-weight: bold;
    padding: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #C4C4C4;
}

#alarm .unack > *:first-child{
    grid-column: span 2;
}

#alarm .unack > *:first-child p {
    font-size: 200%;
}

#alarm .alarm-table {
    padding: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Alarm table */
.ui.table {
    border: none;
}

.ui.table thead th {
    background-color: #fff;
    border-top: none;
}

/* Data footer */
.data-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: .75rem;
    padding: 0 8 px;
}

.data-footer__pagniation {
    display: block;
    text-align: center;
}

.data-footer__icons-before {
    display: block;
    text-align: center;
}

.ui.circular.button {
    font-size: 95%;
    background-color: #fff;
    bottom: 1px;
}