<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>
  export default {
    created() {
      if(typeof this.$session.get('username') === 'undefined'){
        this.$router.push('/login');
        return false;
      }
    },
  }
</script>