<template>
  <div class="alarm-when">
    <v-row
      align="center"
      justify="center"
      style="margin-right: 5em; margin-left: 5em"
    >
      <i v-bind:class="icon" v-bind:style="color"></i>
      {{ nameAlarm }} when
      <v-spacer> </v-spacer>
      <v-switch
        v-model="switchAlarm"
        inset
        :disabled="$store.state.controllers.alarm_when_enable_change"
      ></v-switch>
    </v-row>
    <div v-for="(range, index) in ranges"
        v-bind:key="index"
        data-grid="1">
          <div style="width: 121px;
                      background-color: #fff;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                      display: flex;
                      align-items: center;
                      margin-right: 15px;">
            <span style="
                        min-width: 70px;">
              {{ range.lower.value}}
            </span>
            <span v-if="range.lower.value !== ''"
              style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
              {{ operate_change[range.lower.is] }}
            </span>
            <span v-if="range.lower.value === ''"
                  style="padding: 3px;
                         height: 30px;
                         padding-left: 10px;
                         border-right: 7px solid #4DC367;
                         background-color: #4DC367;
                         color: #fff;
                         min-width: 51px;"></span>
          </div>
          <div>value</div>
          <div>
            <div style="width: 121px;
                        background-color: #fff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        display: flex;
                        align-items: center;
                        margin-left: 15px;">
              <span v-if="range.upper.value !== ''" style="padding: 3px;
                       padding-left: 10px;
                       border-right: 7px solid #4DC367;
                       background-color: #4DC367;
                       color: #fff;
                       min-width: 51px;">
                {{ range.upper.is }}
              </span>
              <span v-if="range.upper.value === ''"
                style="padding: 3px;
                       height: 30px;
                       padding-left: 10px;
                       border-right: 7px solid #4DC367;
                       background-color: #4DC367;
                       color: #fff;
                       min-width: 51px;"></span>
              <span style="min-width: 70px;">
                {{ range.upper.value }}
              </span>
            </div>
          </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AlarmWhen",
  data() {
    return {
      operate_change: { ">=": "<=", ">": "<" },
    };
  },
  props: ["nameAlarm", "icon", "color", "ranges", "switchAlarm"],
};
</script>

<style>
.alarm-when [data-grid] {
  display: grid;
  margin-top: 0.5em;
  padding-bottom: 0px;
}

.alarm-when [data-grid] > * {
  text-align: center;
}

.alarm-when [data-grid="1"] {
  grid-template-columns: 1fr 1fr 1fr;
}

.alarm-when [data-grid] > *:first-child {
  /* margin-left: 33px; */
}

.alarm-when [data-grid] > div:nth-child(2) {
  position: relative;
  font-weight: bold;
  right: 15px;
  top: 2px;
}

.alarm-when [data-grid] > *:last-child {
  position: relative;
  right: 32px;
}
</style>
