<template>
  <v-row justify="center">
    <v-dialog v-model="$store.state.controllers.dialog_information" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">General information</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <div class="form-group">
                  <label style="margin-top: -5px" class="col-sm-4 col-form-label">Name</label>
                  <input type="text" class="col-sm-8 form-control" :value="$store.state.entity.name">
                </div>
              </v-col>
              <div class="headline">Additional information</div>
              <v-col cols="12" sm="12" md="12" v-for="item in $store.state.entity.additionalInfor" :key="item.key">
                <div class="form-group">
                  <label style="margin-top: -5px" class="col-sm-4 col-form-label">{{item['key']}}</label>
                  <input type="text" class="col-sm-7 form-control" v-model="item['value']">
                  <v-icon medium class="col-sm-1" style="margin-top: -8px" @click="remove_additional(item['key'])">fa fa-minus-square</v-icon>
                </div>
              </v-col>
              <v-col cols="12" sm="12" md="12" v-if="$store.state.entity.additionalInfor.length < 5">
                <div class="form-group">
                  <input type="text" class="col-sm-4 form-control" v-model="additional_key">
                  <input type="text" class="col-sm-7 form-control" v-model="additional_value">
                  <v-icon medium class="col-sm-1" style="margin-top: -8px" @click="add_additional()">fa fa-plus-square</v-icon>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$store.state.controllers.dialog_information = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="save_data()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  import global from '@/mixins/global'
  export default {
    data() {
      return {
        additional_key: '',
        additional_value: '',
      };
    },
    methods: {
      async reset_addition(){
        this.additional_key = '';
        this.additional_value = '';
      },
      async add_additional(){
        let new_obj = [...this.$store.state.entity.additionalInfor];
        if(this.additional_key.length > 0 && this.additional_value.length > 0) {
          new_obj.push({"key": this.additional_key, "value": this.additional_value});
        }
        this.$store.state.entity.additionalInfor = [...new_obj];
        this.reset_addition();
      },
      async remove_additional(key){
        let new_obj = [...this.$store.state.entity.additionalInfor];
        new_obj = [...this.$store.state.entity.additionalInfor].filter(e => {
          return e['key'] !== key;
        });
        this.$store.state.entity.additionalInfor = [...new_obj];
      },
      async save_data(){
        this.$store.state.controllers.dialog_information = false;
        var axios = require('axios');
        var data = JSON.stringify({"additionalInfor":this.$store.state.entity.additionalInfor,"name":this.$store.state.entity.name});
        var config = {
          method: 'put',
          url: `${global.methods.baseUrlServer()}api/asset/generalInfor/${this.$store.state.entity.assetId}`,
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
            'Content-Type': 'application/json'
          },
          data : data
        };

        axios(config)
          .then(function (response) {
            console.log(JSON.stringify(response.data));
          })
          .catch(function (error) {
            console.log(error);
          });

      }
    },
  }
</script>
