<template>
  <v-row justify="center">
    <v-dialog v-model="$store.state.controllers.dialog_formular" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Formular for electricity</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <div class="row">
              <label>Tính tiền điện</label>
            </div>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <select v-model="$store.state.entity.method" class="ui fluid search dropdown">
                  <option v-for="item in danhsachcongthucdien" :key="item.id" :value="item.id">{{item.name}}</option>
                </select>
              </v-col>
            </v-row>
            <v-row v-for="item in prices">
              <v-col cols="12" sm="12" md="12">
                <v-col cols="12" sm="12" md="12">
                  <div class="form-group">
                    <label style="margin-top: -5px" class="col-sm-4 col-form-label">{{item['name']}}</label>
                    <input type="text" class="col-sm-8 form-control" v-model="item['price']">
                  </div>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$store.state.controllers.dialog_formular = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="save_data()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    computed: {
      congthucdien(){
        return this.$store.state.entity.method;
      },
    },
    data() {
      return {
        prices: [],
        prices_null: [],
        prices_fix: [{"name": "Fixed price", price: 0}],
        prices_time: [{"name": "Peak", price: 0}, {"name": "Normal", price: 0}, {"name": "Off-peak", price: 0}],
        prices_level: [{"name": "Level 1", price: 0}, {"name": "Level 2", price: 0},{"name": "Level 3", price: 0},
          {"name": "Level 4", price: 0}, {"name": "Level 5", price: 0}, {"name": "Level 6", price: 0}],
        danhsachcongthucdien: [{id: "null", name:"Không tính"}, {id: "fixed", name: "Cố định"},
          {id: "byTime", name: "Theo khung giờ"}, {id: "byLevel", name:"Theo bậc"}],
      };
    },

    methods: {
      async save_data() {
        this.$store.state.controllers.dialog_formular = false;
        this.prices.map((el) => {
          if(isNaN(el['price'])){
            el['price'] = 0
          }else{
            el['price'] = parseFloat(el['price']);
          }
        });
        let data = {
          "formulaForElectricityBill":
            {
              "method": this.$store.state.entity.method,
              "prices": this.prices,
            }
        };
        var axios = require('axios');

        var config = {
          method: 'post',
          url: 'http://103.28.32.80:8080/api/plugins/telemetry/ASSET/'+this.$store.state.entity.assetId+'/attributes/SERVER_SCOPE',
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token'),
            'Content-Type': 'application/json'
          },
          data : data
        };
        let self = this;
        axios(config)
          .then(function (response) {
            self.$store.dispatch("getFormulaElectric")
          })
          .catch(function (error) {
            console.log(error);
          });

      },
    },
    watch: {
      congthucdien(){
        if(this.congthucdien === 'null'){
          if(this.$store.state.entity.method_default === 'null') {
            this.prices_null = [];
          }
          this.prices = this.prices_null;
        }
        if(this.congthucdien === 'fixed'){
          if(this.$store.state.entity.method_default === 'fixed') {
            this.prices_fix = [{"name": "Fixed price", price: this.$store.state.entity.prices[0]['price']}];
          }
          this.prices = this.prices_fix;
        }
        if(this.congthucdien === 'byTime'){
          if(this.$store.state.entity.method_default === 'byTime') {
            this.prices_time = [{"name": "Peak", price: this.$store.state.entity.prices[0]['price']},
              {"name": "Normal", price: this.$store.state.entity.prices[1]['price']},
              {"name": "Off-peak", price: this.$store.state.entity.prices[2]['price']},];
          }
          this.prices = this.prices_time;
        }
        if(this.congthucdien === 'byLevel'){
          if(this.$store.state.entity.method_default === 'byLevel'){
            this.prices_level = [{"name": "Level 1", price: this.$store.state.entity.prices[0]['price']},
              {"name": "Level 2", price: this.$store.state.entity.prices[1]['price']},
              {"name": "Level 3", price: this.$store.state.entity.prices[2]['price']},
              {"name": "Level 4", price: this.$store.state.entity.prices[3]['price']},
              {"name": "Level 5", price: this.$store.state.entity.prices[4]['price']},
              {"name": "Level 6", price: this.$store.state.entity.prices[5]['price']}];
          }
          this.prices = this.prices_level;
        }
      },
    }
  }
</script>
