<template>
  <v-row justify="center">
    <v-dialog v-model="$store.state.controllers.dialog_alarmsetting" persistent max-width="600px" max-height="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alarm setting</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-card-text>
              <v-tabs fixed-tabs centered>
                <v-tab>Current</v-tab>
                <v-tab>Active Power</v-tab>

                <v-tab-item style="padding: 5px;">
                  <div style="
                                  display: grid;
                                  grid-template-rows: 1fr 1fr;
                                 ;
                                ">
                    <v-row align="center" justify="center" style="margin-right: 5em; margin-left: 5em;">
                      <i v-bind:class="'fas fa-bell'" v-bind:style="';color: #FFC107; margin-right: 0.5em;'"></i>
                      Warning when
                      <v-spacer></v-spacer>
                      <v-switch v-model="$store.state.entity.currentWarningSwitchAlarm" inset></v-switch>
                      <v-icon v-if="typeof this.current.warning !== 'undefined' && this.current.warning.length < 2" medium class="col-sm-1" style="margin-top: -8px" @click="add_current_warning()">fa fa-plus-square</v-icon>
                      <v-icon v-if="typeof this.current.warning !== 'undefined' && this.current.warning.length > 0" medium class="col-sm-1" style="margin-top: -8px" @click="remove_current_warning()">fa fa-minus-square</v-icon>
                    </v-row>
                    <div v-for="(range, index) in current.warning" data-grid="1">
                      <div style="width: 121px;
                      background-color: #fff;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                      display: flex;
                      align-items: center;">
                        <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.lower.value" />
                        <select v-model="range.lower.is" @change="onChangeCurrentWarning()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                          <option v-for="(key, value, index) in sign_list_reverse" :value="key">{{value}}</option>
                        </select>
                      </div>
                      <div>value</div>
                      <div>
                        <div style="width: 121px;
                        background-color: #fff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        display: flex;
                        align-items: center;">
                          <select v-model="range.upper.is" @change="onChangeCurrentWarning()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                            <option v-for="(key, value, index) in sign_list" :value="key">{{value}}</option>
                          </select>
                          <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.upper.value" />
                        </div>
                      </div>
                    </div>

                    <v-row align="center" justify="center" style="margin-right: 5em; margin-left: 5em;">
                      <i v-bind:class="'fas fa-exclamation-triangle'"
                         v-bind:style="';color: #E10000; margin-right: 0.5em;'"></i>
                      Critical when
                      <v-spacer>
                      </v-spacer>
                      <v-switch v-model="$store.state.entity.currentCriticalSwitchAlarm" inset></v-switch>
                      <v-icon v-if="typeof this.current.critical !== 'undefined' && this.current.critical.length < 2" medium class="col-sm-1" style="margin-top: -8px" @click="add_current_critical()">fa fa-plus-square</v-icon>
                      <v-icon v-if="typeof this.current.critical !== 'undefined' && this.current.critical.length > 0" medium class="col-sm-1" style="margin-top: -8px" @click="remove_current_critical()">fa fa-minus-square</v-icon>
                    </v-row>
                    <div v-for="(range, index) in current.critical"  data-grid="1">
                      <div style="width: 121px;
                      background-color: #fff;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                      display: flex;
                      align-items: center;">
                        <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.lower.value" />
                        <select v-model="range.lower.is" @change="onChangeCurrentCritical()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                          <option v-for="(key, value, index) in sign_list_reverse" :value="key">{{value}}</option>
                        </select>
                        <span v-if="range.lower.value === '-Infinity'" style="padding: 3px;
                         height: 30px;
                         padding-left: 10px;
                         border-right: 7px solid #4DC367;
                         background-color: #4DC367;
                         color: #fff;
                         min-width: 51px;"></span>
                      </div>
                      <div>value</div>
                      <div>
                        <div style="width: 121px;
                        background-color: #fff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        display: flex;
                        align-items: center;">
                          <select v-model="range.upper.is" @change="onChangeCurrentCritical()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                            <option v-for="(key, value, index) in sign_list" :value="key">{{value}}</option>
                          </select>
                          <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.upper.value" />
                        </div>
                      </div>
                    </div>

                  </div>
                </v-tab-item>

                <v-tab-item style="padding: 5px;">
                  <div style="display: grid;grid-template-rows: 1fr 1fr;">
                    <v-row align="center" justify="center" style="margin-right: 5em; margin-left: 5em;">
                      <i v-bind:class="'fas fa-bell'" v-bind:style="';color: #FFC107; margin-right: 0.5em;'"></i>
                      Warning when
                      <v-spacer></v-spacer>
                      <v-switch v-model="$store.state.entity.powerWarningSwitchAlarm" inset></v-switch>
                      <v-icon v-if="typeof this.activePower.warning !== 'undefined' && this.activePower.warning.length < 2" medium class="col-sm-1" style="margin-top: -8px" @click="add_power_warning()">fa fa-plus-square</v-icon>
                      <v-icon v-if="typeof this.activePower.warning !== 'undefined' && this.activePower.warning.length > 0" medium class="col-sm-1" style="margin-top: -8px" @click="remove_power_warning()">fa fa-minus-square</v-icon>
                    </v-row>
                    <div v-for="(range, index) in activePower.warning" data-grid="1">
                      <div style="width: 121px;
                      background-color: #fff;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                      display: flex;
                      align-items: center;">
                        <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.lower.value" />
                        <select v-model="range.lower.is" @change="onChangeActivePowerWarning()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                          <option v-for="(key, value, index) in sign_list_reverse" :value="key">{{value}}</option>
                        </select>
                      </div>
                      <div>value</div>
                      <div>
                        <div style="width: 121px;
                        background-color: #fff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        display: flex;
                        align-items: center;">
                          <select v-model="range.upper.is" @change="onChangeActivePowerWarning()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                            <option v-for="(key, value, index) in sign_list" :value="key">{{value}}</option>
                          </select>
                          <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.upper.value" />
                        </div>
                      </div>
                    </div>

                    <v-row align="center" justify="center" style="margin-right: 5em; margin-left: 5em;">
                      <i v-bind:class="'fas fa-exclamation-triangle'" v-bind:style="';color: #E10000; margin-right: 0.5em;'"></i>
                      Critical when
                      <v-spacer></v-spacer>
                      <v-switch v-model="$store.state.entity.powerCriticalSwitchAlarm" inset></v-switch>
                      <v-icon v-if="typeof this.activePower.critical !== 'undefined' && this.activePower.critical.length < 2" medium class="col-sm-1" style="margin-top: -8px" @click="add_power_critical()">fa fa-plus-square</v-icon>
                      <v-icon v-if="typeof this.activePower.critical !== 'undefined' && this.activePower.critical.length > 0" medium class="col-sm-1" style="margin-top: -8px" @click="remove_power_critical()">fa fa-minus-square</v-icon>
                    </v-row>
                    <div v-for="(range, index) in activePower.critical" data-grid="1">
                      <div style="width: 121px;
                      background-color: #fff;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                      display: flex;
                      align-items: center;">
                        <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.lower.value" />
                        <select v-model="range.lower.is" @change="onChangeActivePowerCritical()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                          <option v-for="(key, value, index) in sign_list_reverse" :value="key">{{value}}</option>
                        </select>
                      </div>
                      <div>value</div>
                      <div>
                        <div style="width: 121px;
                        background-color: #fff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        display: flex;
                        align-items: center;">
                          <select v-model="range.upper.is" @change="onChangeActivePowerCritical()" style="padding: 3px;
                     height: 30px;
                     padding-left: 10px;
                     border-right: 7px solid #4DC367;
                     background-color: #4DC367;
                     color: #fff;
                     min-width: 51px;">
                            <option v-for="(key, value, index) in sign_list" :key="range.upper.value.toString() + index" :value="key">{{value}}</option>
                          </select>
                          <input type="number" style="padding: 3px 24px 3px 24px;min-width: 70px;" v-model="range.upper.value" />
                        </div>
                      </div>
                    </div>
                  </div>
                </v-tab-item>

              </v-tabs>
            </v-card-text>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$store.state.controllers.dialog_alarmsetting = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="save_alarm()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  import global from '@/mixins/global'
  export default {
    data() {
      return {
        operate_change: {">=": "<=", ">": "<"},
        sign_list: {"No": "No", "<=": "<=", "<": "<"},
        sign_list_reverse: {"No": "No", "<=": ">=", "<": ">"},
        activePower: {},
        current: {},
      };
    },
    methods: {
      save_alarm(){
        this.$store.state.controllers.dialog_alarmsetting = false;
        var axios = require('axios');
        this.activePower['warning'].map((el) => {
          el['lower']['value'] = parseFloat(el['lower']['value']);
          el['upper']['value'] = parseFloat(el['upper']['value']);
        });
        this.activePower['critical'].map((el) => {
          el['lower']['value'] = parseFloat(el['lower']['value']);
          el['upper']['value'] = parseFloat(el['upper']['value']);
        });
        this.current['warning'].map((el) => {
          el['lower']['value'] = parseFloat(el['lower']['value']);
          el['upper']['value'] = parseFloat(el['upper']['value']);
        });
        this.current['critical'].map((el) => {
          el['lower']['value'] = parseFloat(el['lower']['value']);
          el['upper']['value'] = parseFloat(el['upper']['value']);
        });
        var data = JSON.stringify({
          "activePower": {
            "warning": {
              "enable": this.$store.state.entity.powerWarningSwitchAlarm,
              "ranges": this.activePower['warning'],
            },
            "critical": {
              "enable": this.$store.state.entity.powerCriticalSwitchAlarm,
              "ranges": this.activePower['critical'],
            },
          },
          "current": {
            "warning": {
              "enable": this.$store.state.entity.currentWarningSwitchAlarm,
              "ranges": this.current['warning'],
            },
            "critical": {
              "enable": this.$store.state.entity.currentCriticalSwitchAlarm,
              "ranges": this.current['critical'],
            },
          }
        });
        var config = {
          method: 'put',
          url: `${global.methods.baseUrlServer()}api/asset/alarm/${this.$store.state.entity.assetId}`,
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
            'Content-Type': 'application/json'
          },
          data : data
        };

        axios(config)
          .then(function (response) {
            console.log(JSON.stringify(response.data));
          })
          .catch(function (error) {
            console.log(error);
          });

      },
      async add_current_warning(){
        if(typeof this.current["warning"] === 'undefined'){
          this.current["warning"] = [];
        }
        if(this.current.warning.length < 2){
          this.current.warning.push(
            {"lower": {"is": ">", "value": 0}, "upper": {"is": "<", "value": 0}}
          );
        }
      },
      async add_current_critical(){
        if(typeof this.current["critical"] === 'undefined'){
          this.current["critical"] = [];
        }
        if(this.current.critical.length < 2){
          this.current.critical.push(
            {"lower": {"is": ">", "value": 0}, "upper": {"is": "<", "value": 0}}
          );
        }
      },
      async add_power_warning(){
        if(typeof this.activePower["warning"] === 'undefined'){
          this.activePower["warning"] = [];
        }
        if(this.activePower.warning.length < 2){
          this.activePower.warning.push(
            {"lower": {"is": ">", "value": 0}, "upper": {"is": "<", "value": 0}}
          );
        }
      },
      async add_power_critical(){
        if(typeof this.activePower["critical"] === 'undefined'){
          this.activePower["critical"] = [];
        }
        if(this.activePower.critical.length < 2){
          this.activePower.critical.push(
            {"lower": {"is": ">", "value": 0}, "upper": {"is": "<", "value": 0}}
          );
        }
      },
      async remove_current_warning(){
        if(this.current.warning.length > 0){
          this.current.warning = this.current.warning.pop();
        }
      },
      async remove_current_critical(){
        if(this.current.critical.length > 0){
          this.current.critical = this.current.critical.pop();
        }
      },
      async remove_power_warning(){
        if(this.activePower.warning.length > 0){
          this.activePower.warning = this.activePower.warning.pop();
        }
      },
      async remove_power_critical(){
        if(this.activePower.critical.length > 0){
          this.activePower.critical = this.activePower.critical.pop();
        }
      },
      onChangeCurrentWarning(){
        for (let i = 0; i < this.current.warning.length; i++) {
          if(this.current.warning[i].lower.is === 'No'){
            this.current.warning[i].lower.value = "";
          }
          if(this.current.warning[i].upper.is === 'No'){
            this.current.warning[i].upper.value = "";
          }
        }
      },
      onChangeCurrentCritical(){
        for (let i = 0; i < this.current.critical.length; i++) {
          if(this.current.critical[i].lower.is === 'No'){
            this.current.critical[i].lower.value = "";
          }
          if(this.current.critical[i].upper.is === 'No'){
            this.current.critical[i].upper.value = "";
          }
        }
      },
      onChangeActivePowerWarning(){
        for (let i = 0; i < this.activePower.warning.length; i++) {
          if(this.activePower.warning[i].lower.is === 'No'){
            this.activePower.warning[i].lower.value = "";
          }
          if(this.activePower.warning[i].upper.is === 'No'){
            this.activePower.warning[i].upper.value = "";
          }
        }
      },
      onChangeActivePowerCritical(){
        for (let i = 0; i < this.activePower.critical.length; i++) {
          if(this.activePower.critical[i].lower.is === 'No'){
            this.activePower.critical[i].lower.value = "";
          }
          if(this.activePower.critical[i].upper.is === 'No'){
            this.activePower.critical[i].upper.value = "";
          }
        }
      }
    },
    computed: {
      currentWarningRanges() {
        return this.$store.getters.currentWarningRanges;
      },
      currentCriticalRanges() {
        return this.$store.getters.currentCriticalRanges;
      },
      currentWarningSwitchAlarm() {
        return this.$store.getters.currentWarningSwitchAlarm;
      },
      currentCriticalSwitchAlarm() {
        return this.$store.getters.currentCriticalSwitchAlarm;
      },
      powerWarningRanges() {
        return this.$store.getters.powerWarningRanges;
      },
      powerCriticalRanges() {
        return this.$store.getters.powerCriticalRanges;
      },
      powerWarningSwitchAlarm() {
        return this.$store.getters.powerWarningSwitchAlarm;
      },
      powerCriticalSwitchAlarm() {
        return this.$store.getters.powerCriticalSwitchAlarm;
      },
    },
    watch: {
      powerWarningRanges(){
        this.activePower = {warning: this.powerWarningRanges, critical: this.powerCriticalRanges};
      },
      powerCriticalRanges(){
        this.activePower = {warning: this.powerWarningRanges, critical: this.powerCriticalRanges};
      },
      currentWarningRanges(){
        this.current = {warning: this.currentWarningRanges, critical: this.currentCriticalRanges};
      },
      currentCriticalRanges(){
        this.current = {warning: this.currentWarningRanges, critical: this.currentCriticalRanges};
      },
      // current(){
      //   console.log("V")
      //   console.log(this.current.warning);
      //   console.log(this.current.warning[0].lower.is);
      //   // for (let i = 0; i < this.current.warning.length; i++) {
      //   //   if(this.current.warning[0].lower.is === '>'){
      //   //     this.current.warning[0].lower.value = "-Infinity";
      //   //   }
      //   // }
      // }
    }
  }
</script>
<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>
