<template>
  <v-row justify="center">
    <v-dialog v-model="$store.state.controllers.dialog_addasset" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Add New Asset</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <div class="row">
              <label>Required Information*</label>
            </div>
            <br>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <div class="form-group">
                  <label style="margin-top: -5px" class="col-sm-4 col-form-label">Name</label>
                  <input type="text" class="col-sm-8 form-control" v-model="new_asset_name">
                </div>
              </v-col>
            </v-row>
            <div class="row">
              <label>Tính tiền điện</label>
            </div>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <select v-model="congthucdien" class="ui fluid search dropdown">
                  <option v-for="item in danhsachcongthucdien" :key="item.id" :value="item.id">{{item.name}}</option>
                </select>
              </v-col>
            </v-row>
            <v-row style="margin-top: 23px;">
              <v-col cols="12" sm="12" md="12" v-for="item in prices">
                <div class="form-group" style="margin-top: -30px;">
                  <label style="margin-top: -5px" class="col-sm-4 col-form-label">{{item['name']}}</label>
                  <input type="text" class="col-sm-8 form-control" v-model="item['price']">
                </div>
              </v-col>
            </v-row>
            <div class="row">
              <label>Additional Information</label>
            </div>
            <br>
            <v-row>
              <v-col cols="12" sm="12" md="12" v-for="item in additional_information" :key="item.key">
                <div class="form-group">
                  <label style="margin-top: -5px" class="col-sm-4 col-form-label">{{item['key']}}</label>
                  <input type="text" class="col-sm-7 form-control" v-model="item['value']">
                  <v-icon medium class="col-sm-1" style="margin-top: -8px" @click="remove_additional(item['key'])">fa fa-minus-square</v-icon>
                </div>
              </v-col>
              <v-col cols="12" sm="12" md="12">
                <div class="form-group">
                  <input type="text" class="col-sm-4 form-control" v-model="additional_key">
                  <input type="text" class="col-sm-7 form-control" v-model="additional_value">
                  <v-icon medium class="col-sm-1" style="margin-top: -8px" @click="add_additional()">fa fa-plus-square</v-icon>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close_dialog()">Close</v-btn>
          <v-btn color="blue darken-1" text @click="save_data()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  import global from '@/mixins/global'
  export default {
    data() {
      return {
        new_asset_name: '',
        additional_information: [],
        additional_key: '',
        additional_value: '',
        congthucdien: 'null',
        danhsachcongthucdien: [{id: "null", name:"Không tính"}, {id: "fixed", name: "Cố định"},
          {id: "byTime", name: "Theo khung giờ"}, {id: "byLevel", name:"Theo bậc"}],
        prices: [],
        prices_null: [],
        prices_fix: [{"name": "Fixed price", price: 0}],
        prices_time: [{"name": "Peak", price: 0}, {"name": "Normal", price: 0}, {"name": "Off-peak", price: 0}],
        prices_level: [{"name": "Level 1", price: 0}, {"name": "Level 2", price: 0},{"name": "Level 3", price: 0},
          {"name": "Level 4", price: 0}, {"name": "Level 5", price: 0}, {"name": "Level 6", price: 0}],
      };
    },

    methods: {
      async reset_addition() {
        this.additional_key = '';
        this.additional_value = '';
      },
      reset_all(){
        this.new_asset_name = '';
        this.additional_information = [];
        this.additional_key = '';
        this.additional_value = '';
        this.congthucdien = 'null';
        this.prices = [];
        this.prices_null =  [];
        this.prices_fix = [{"name": "Fixed price", price: 0}];
        this.prices_time = [{"name": "Peak", price: 0}, {"name": "Normal", price: 0}, {"name": "Off-peak", price: 0}];
        this.prices_level = [{"name": "Level 1", price: 0}, {"name": "Level 2", price: 0}, {"name": "Level 3", price: 0},
          {"name": "Level 4", price: 0}, {"name": "Level 5", price: 0}, {"name": "Level 6", price: 0}];
      },
      async add_additional() {
        let new_obj = [...this.additional_information];
        if(this.additional_key.length > 0 && this.additional_value.length > 0) {
          new_obj.push({"key": this.additional_key, "value": this.additional_value});
        }
        this.additional_information = [...new_obj];
        this.reset_addition();
      },
      async remove_additional(key){
        let new_obj = [...this.additional_information];
        new_obj = [...this.additional_information].filter(e => {
          return e['key'] !== key;
        });
        this.additional_information = [...new_obj];
      },
      async get_user_id(){
        var axios = require('axios');
        var config = {
          method: 'get',
          url: 'http://103.28.32.80:8080/api/auth/user',
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        };

        let response = await axios(config);
        return response.data['id']['id'];
      },
      close_dialog(){
        this.$store.state.controllers.dialog_addasset = false;
        this.reset_all();
      },
      async save_data() {
        this.$store.state.controllers.dialog_addasset = false;
        var axios = require('axios');
        this.prices.map((el) => {
          if(isNaN(el['price'])){
            el['price'] = 0
          }else{
            el['price'] = parseFloat(el['price']);
          }
        });
        var data = JSON.stringify({
          "additionalInfor": this.additional_information,
          "formulaForElectricityBill": {
            "method": this.congthucdien,
            "prices": this.prices,
          },
          "name": this.new_asset_name,
          "parentInfor": {
            "id": this.$store.state.entity.assetId,
            "type": "ASSET"
          }
        });
        if(this.$store.state.entity.is_add_root){
          let userid = await this.get_user_id();
          data = JSON.stringify({
            "additionalInfor": this.additional_information,
            "formulaForElectricityBill": {
              "method": this.congthucdien,
              "prices": this.prices,
            },
            "name": this.new_asset_name,
            "parentInfor": {
              "id": userid,
              "type": "USER"
            }
          });
        }
        var config = {
          method: 'post',
          url: `${global.methods.baseUrlServer()}api/asset`,
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
            'Content-Type': 'application/json'
          },
          data : data
        };
        let self = this;
        axios(config)
          .then(function (response) {
            self.$store.dispatch('getComponents');
            self.$store.dispatch('getTree');
            self.reset_all();
            self.$store.state.entity.is_add_root = false;
          })
          .catch(function (error) {
            console.log(error);
          });

      }
    },
    watch: {
      congthucdien(){
        if(this.congthucdien === 'null'){
          this.prices = this.prices_null;
        }
        if(this.congthucdien === 'fixed'){
          this.prices = this.prices_fix;
        }
        if(this.congthucdien === 'byTime'){
          this.prices = this.prices_time;
        }
        if(this.congthucdien === 'byLevel'){
          this.prices = this.prices_level;
        }
      },
    }
  }
</script>
