<template>
  <v-row justify="center">
    <v-dialog v-model="$store.state.controllers.dialog_meterinformation"
        persistent
        max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Meter Information</span>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="remove_meter()">REMOVE</v-btn>
        </v-card-title>
        <v-card-text>
          <v-tabs fixed-tabs centered>
            <v-tab>Information</v-tab>
            <v-tab>Sensor status</v-tab>
            <v-tab-item>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <div class="form-group">
                      <label style="margin-top: -5px" class="col-sm-4 col-form-label">MAC</label>
                      <input type="text" class="col-sm-8 form-control" v-model="$store.state.entity.meterInformation['mac']">
                    </div>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <div class="form-group">
                      <label style="margin-top: -5px" class="col-sm-4 col-form-label">Active</label>
                      <input type="text" class="col-sm-8 form-control" v-model="$store.state.entity.meterInformation['active']">
                    </div>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <div class="form-group">
                      <label style="margin-top: -5px" class="col-sm-4 col-form-label">Last connected time</label>
                      <input type="text" class="col-sm-8 form-control" v-model="$store.state.entity.meterInformation['last_connected_time']">
                    </div>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <div class="form-group">
                      <label style="margin-top: -5px" class="col-sm-4 col-form-label">Last active time</label>
                      <input type="text" class="col-sm-8 form-control" v-model="$store.state.entity.meterInformation['last_active_time']">
                    </div>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <div class="form-group">
                      <label style="margin-top: -5px" class="col-sm-4 col-form-label">RSSI</label>
                      <input type="text" class="col-sm-8 form-control" v-model="$store.state.entity.meterInformation['rssi']">
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <canvas ref="chart_rssi" style="max-height: 150px;"></canvas>
                </v-row>
              </v-container>
            </v-tab-item>
            <v-tab-item>
              <v-simple-table fixed-header>
                <template>
                  <thead>
                  <tr>
                    <th class="text-left">Time</th>
                    <th class="text-right">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="item in $store.state.entity.sensorStatus" :key="item.ts">
                    <td>{{ $moment(new Date(item.ts)).format("DD/MM/YYYY HH:mm:ss") }}</td>
                    <td class="text-right">{{ item.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-tab-item>
          </v-tabs>
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="$store.state.controllers.dialog_meterinformation = false">Close</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        mac_address: '',
        active: '',
        last_connected_time: '',
        last_active_time: '',
        rssi: '',
        chart_rssi: null,
      };
    },
    computed: {
      rssi_data(){
        return this.$store.state.entity.rssi_data;
      },
    },
    methods: {
      remove_meter(){
        var axios = require('axios');
        if(this.$store.state.entity.meters.length === 0) return;
        var config = {
          method: 'delete',
          url: 'http://103.28.32.80:8080/api/device/'+this.$store.state.entity.meters[0].id,
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        };
        let self = this;
        axios(config)
          .then(function (response) {
            console.log(JSON.stringify(response.data));
            self.$store.state.controllers.dialog_meterinformation = false;
            self.$store.dispatch('getComponents');
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      async drawChartRssi(){
        console.log(this.$store.state.entity.rssi_data);
        if(this.chart_rssi != null) this.chart_rssi.destroy();
        this.chart_rssi = new Chart(this.$refs.chart_rssi.getContext("2d"), {
          type: 'line',
          options: {
            plugins: {
              title: {
                display: true,
                text: 'RSSI'
              },
              legend: {
                display: false,
              },
            },
            scales: {
              y: {
                max: -40,
                min: -100,
              }
            },
            maintainAspecRatio: false,
            responsive: true
          },
          data: this.$store.state.entity.rssi_data
        });
      },
    },
    mounted(){

    },
    watch: {
      rssi_data(){
        console.log(this.$store.state.entity.rssi_data)
        if(this.$store.state.entity.rssi_data['labels'].length > 0){
          this.drawChartRssi();
        }
      },
    },
  }
</script>
