<template>
  <v-row justify="center">
    <v-dialog v-model="$store.state.controllers.dialog_addmeter" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">New Meter</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <div class="row">
              <label>Required Information*</label>
            </div>
            <br>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <div class="form-group">
                  <label style="margin-top: -5px" class="col-sm-4 col-form-label">MAC</label>
                  <input type="text" class="col-sm-8 form-control" v-model="mac_address">
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="$store.state.controllers.dialog_addmeter = false">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="save_mac()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  import AlarmWhen from './AlarmWhen'
  import DialogInformation from '@/components/Management/Dialog_Information.vue'
  import DialogFormular from '@/components/Management/Dialog_Formular.vue'
  import DialogAlarmsetting from '@/components/Management/Dialog_Alarmsetting.vue'
  import DialogKPI from '@/components/Management/Dialog_KPI.vue'
  import DialogAddasset from '@/components/Management/Dialog_Addasset.vue'
  import DialogAddmeter from '@/components/Management/Dialog_Addmeter.vue'
  import DialogMeterinformation from '@/components/Management/Dialog_Meterinformation.vue'
  import axios from 'axios';
  export default {
    name: 'Entity_2',
    components: {
      'alarm-when': AlarmWhen,
      'dialog-information': DialogInformation,
      'dialog-formular': DialogFormular,
      'dialog-alarmsetting': DialogAlarmsetting,
      'dialog-kpi': DialogKPI,
      'dialog-addasset': DialogAddasset,
      'dialog-addmeter': DialogAddmeter,
      'dialog-meterinformation': DialogMeterinformation,
    },
    data() {
      return {
        mac_address: '',
      };
    },

    methods: {
      save_mac(){
        // let asset_id = this.$store.state.entity.assetId;
        // let mac_address = this.mac_address;
        var data = JSON.stringify({"macAddress":this.mac_address,"assetId":this.$store.state.entity.assetId});
        var config = {
          method: 'post',
          url: 'http://energy.4vn.eu/meter/create',
          headers: {
            'token': this.$session.get('token'),
            'Content-Type': 'application/json'
          },
          data : data
        };
        let self = this;
        axios(config)
          .then(function (response) {
            self.$store.state.controllers.dialog_addmeter = false;
            self.$store.dispatch('getComponents');
          })
          .catch(function (error) {
            console.log(error);
          });

      },

    },
  }
</script>
