<template>
  <v-app>
    <v-main>
      <div class="wrapper">
        <div class="content-wrapper">
          <section class="content">
            <v-row dense>
              <v-col cols="12" md="7">
                <v-row dense>
                  <v-col style="min-width: 300px;">
                    <v-card height="100%" class="card-outter">
                      <v-card-title style="display: block; text-align: center;">
                        General information
                      </v-card-title>
                      <v-card-text>
                        <div><strong>Name: </strong>{{ name }}</div>
                        <div v-for="(item, index) in additionalInfor" :key="index">
                          <strong>{{ item.key }}: </strong>{{ item.value }}
                        </div>
                      </v-card-text>
                      <v-card-actions class="card-actions">
                        <v-btn icon color="primary" @click="edit_general_information()">
                          <v-icon small>far fa-edit</v-icon>
                        </v-btn>
                        <v-btn icon color="red">
                          <v-icon small red @click="confirm_remove_dialog = true">far fa-trash-alt</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                  <v-col>
                    <v-card height="100%" class="card-outter">
                      <v-card-title style="display: block; text-align: center;">
                        Formula for electricity
                      </v-card-title>
                      <v-card-text>
                        <h3 v-if="method === 'byLevel'">Calculated by level</h3>
                        <h3 v-if="method === 'byTime'">Calculated by time</h3>
                        <h3 v-if="method === 'fixed'">Calculated by fixed</h3>
                        <h3 v-if="method === 'null'">Khong tinh</h3>
                        <div v-for="(item, index) in prices" :key="index" style=" display: grid;
                                                      grid-template-areas:
                                                          'formula-electric-level formula-electric-cost formula-electric-unit';
                                                      grid-template-columns: 8fr 2fr 2fr;
                                                      margin-top: 5px;">
                          <div class="formula-electric-level" style=" background-color: #4DC367;
                                                                                          color: #fff;
                                                                                          font-weight: bold;
                                                                                          padding: 0.25em;
                                                                                          padding-left: 1.5em;
                                                                                          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                                              ">{{ item.name }}
                          </div>
                          <div class="formula-electric-cost" style=" display: flex;
                                                                                  justify-content: center;
                                                                                  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                                                                                  padding: 0.25em;
                                              ">{{ item.price }}
                          </div>
                          <div class="formula-electric-unit" style=" padding: 0.25em;">dong/kWh</div>
                        </div>
                      </v-card-text>
                      <v-card-actions class="card-actions">
                        <v-btn icon color="primary" @click="$store.state.controllers.dialog_formular = true">
                          <v-icon small>far fa-edit</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    <v-card height="100%" class="card-outter">
                      <v-card-title style="display: block; text-align: center;">
                        Components
                      </v-card-title>
                      <v-card-text>
                        <div class="ui list">
                          <div class="item">
                            <div class="v-box__actions box-actions">
                                <button type="button" class="v-btn-components v-btn--icon v-btn--round theme--light v-size--question color-components">
                                    <span class="v-btn__content">
                                      <i style="cursor:pointer;" class="plus square icon" v-if="meters.length === 0" @click="$store.state.controllers.dialog_addmeter = true"></i>
                                      <i class="question circle icon" v-if="meters.length > 0" @click="get_meterinformation()"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="content">
                              <div class="header">Meter</div>
                              <div class="list">
                                <div v-for="(meter, index) in meters" :key="index" class="item">
                                  <i class="tachometer alternate icon"></i>
                                  <div class="content">
                                    <div class="cell-content">{{ meter.name }}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="item">
                            <div class="v-box__actions box-actions">
                                <button type="button" class="v-btn-components v-btn--icon v-btn--round theme--light v-size--plus color-components">
                                    <span class="v-btn__content">
                                      <i style="cursor:pointer;" aria-hidden="true" class="plus square icon" @click="$store.state.controllers.dialog_addasset = true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="content">
                              <div class="header">Sub asset</div>
                              <div class="list">
                                <div v-for="(asset, index) in assets" :key="index" class="item">
                                  <i class="sitemap icon" @click="change_asset(asset.id)"></i>
                                  <div class="content" @click="change_asset(asset.id)">
                                    <div class="cell-content">{{ asset.name }}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <v-col>
                    <v-card height="100%" class="card-outter">
                      <v-card-title style="display: block; text-align: center;">KPI setting</v-card-title>
                      <v-card-text>
                        <v-tabs fixed-tabs centered>
                          <v-tab>Year</v-tab>
                          <v-tab>Quarter</v-tab>
                          <v-tab>Month</v-tab>
                          <v-tab-item>
                            <v-simple-table fixed-header height="200px">
                              <template>
                                <thead>
                                <tr>
                                  <th class="text-left">Time</th>
                                  <th class="text-right">Consumption</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in yearKpi" :key="item.time">
                                  <td>{{ item.time }}</td>
                                  <td class="text-right">{{ item.consumption }}</td>
                                </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-simple-table fixed-header height="200px">
                              <template>
                                <thead>
                                <tr>
                                  <th class="text-left">Time</th>
                                  <th class="text-right">Consumption</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in quarterKpi" :key="item.time">
                                  <td>{{ item.time }}</td>
                                  <td class="text-right">{{ item.consumption }}</td>
                                </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-simple-table fixed-header height="200px">
                              <template>
                                <thead>
                                <tr>
                                  <th class="text-left">Time</th>
                                  <th class="text-right">Consumption</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in monthKpi" :key="item.time">
                                  <td>{{ item.time }}</td>
                                  <td class="text-right">{{ item.consumption }}</td>
                                </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </v-tab-item>
                        </v-tabs>
                      </v-card-text>
                      <v-card-actions class="card-actions">
                        <v-btn icon color="primary" @click="$store.state.controllers.dialog_kpi = true">
                          <v-icon small>far fa-edit</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="5" style="max-width: 100%;">
                <v-card height="100%" class="card-outter">
                  <v-card-title style="display: block; text-align: center;">
                    Alarm setting
                  </v-card-title>
                  <v-card-text>
                    <v-tabs fixed-tabs centered>
                      <v-tab>Current</v-tab>
                      <v-tab>Active Power</v-tab>

                      <v-tab-item style="padding: 5px;">
                        <div style="
                                    display: grid;
                                    grid-template-rows: 1fr 1fr;
                                    gap: 5em;
                                  ">
                          <alarm-when
                              :nameAlarm="'Warning'"
                              :icon="'fas fa-bell'"
                              :color="';color: #FFC107; margin-right: 0.5em;'"
                              :ranges="currentWarningRanges"
                              :switchAlarm="currentWarningSwitchAlarm"
                          ></alarm-when>
                          <alarm-when
                              :nameAlarm="'Critical'"
                              :icon="'fas fa-exclamation-triangle'"
                              :color="';color: #E10000; margin-right: 0.5em;'"
                              :ranges="currentCriticalRanges"
                              :switchAlarm="currentCriticalSwitchAlarm"
                          ></alarm-when>
                        </div>
                      </v-tab-item>

                      <v-tab-item style="padding: 5px;">
                        <div style="
                                    display: grid;
                                    grid-template-rows: 1fr 1fr;
                                    gap: 5em;
                                  ">
                          <alarm-when
                              :nameAlarm="'Warning'"
                              :icon="'fas fa-bell'"
                              :color="';color: #FFC107; margin-right: 0.5em;'"
                              :ranges="powerWarningRanges"
                              :switchAlarm="powerWarningSwitchAlarm"
                          ></alarm-when>
                          <alarm-when
                              :nameAlarm="'Critical'"
                              :icon="'fas fa-exclamation-triangle'"
                              :color="';color: #E10000; margin-right: 0.5em;'"
                              :ranges="powerCriticalRanges"
                              :switchAlarm="powerCriticalSwitchAlarm"
                          ></alarm-when>
                        </div>
                      </v-tab-item>

                    </v-tabs>
                  </v-card-text>
                  <v-card-actions class="card-actions">
                    <v-btn icon color="primary" @click="$store.state.controllers.dialog_alarmsetting = true">
                      <v-icon small>far fa-edit</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </section>
        </div>
      </div>
    </v-main>
    <v-dialog v-model="confirm_remove_dialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          Warning
        </v-card-title>
        <v-card-text>Do you really want to remove asset?</v-card-text>
        <v-card-actions>
          <v-btn color="green darken-1" text @click="confirm_remove_dialog = false">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="remove_asset()">Agree</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  <dialog-information />
  <dialog-formular />
  <dialog-alarmsetting />
  <dialog-kpi />
  <dialog-addasset />
  <dialog-addmeter />
  <dialog-meterinformation />
  </v-app>
</template>

<script>
  import AlarmWhen from './AlarmWhen'
  import DialogInformation from '@/components/Management/Dialog_Information.vue'
  import DialogFormular from '@/components/Management/Dialog_Formular.vue'
  import DialogAlarmsetting from '@/components/Management/Dialog_Alarmsetting.vue'
  import DialogKPI from '@/components/Management/Dialog_KPI.vue'
  import DialogAddasset from '@/components/Management/Dialog_Addasset.vue'
  import DialogAddmeter from '@/components/Management/Dialog_Addmeter.vue'
  import DialogMeterinformation from '@/components/Management/Dialog_Meterinformation.vue'
  import {mapGetters} from "vuex";
  import global from '@/mixins/global'

  export default {
    components: {
      'alarm-when': AlarmWhen,
      'dialog-information': DialogInformation,
      'dialog-formular': DialogFormular,
      'dialog-alarmsetting': DialogAlarmsetting,
      'dialog-kpi': DialogKPI,
      'dialog-addasset': DialogAddasset,
      'dialog-addmeter': DialogAddmeter,
      'dialog-meterinformation': DialogMeterinformation,
    },
    data() {
      return {
        confirm_remove_dialog: false,
        formulas: ['Calulcated by level', 'Calculated by time', 'Calculated by fixed'],
        formula: '',
        yearKpi: [
          {time: 2018, consumption: '13155kWh'},
          {time: 2019, consumption: '13155kWh'},
          {time: 2021, consumption: '13155kWh'},
          {time: 2022, consumption: '13155kWh'},
        ],
        quarterKpi: [
          {time: 1, consumption: '13155kWh'},
          {time: 2, consumption: '13155kWh'},
          {time: 3, consumption: '13155kWh'},
          {time: 4, consumption: '13155kWh'},
        ],
        monthKpi: [
          {time: 1, consumption: '13155kWh'},
          {time: 2, consumption: '13155kWh'},
          {time: 3, consumption: '13155kWh'},
          {time: 4, consumption: '13155kWh'},
          {time: 5, consumption: '13155kWh'},
          {time: 6, consumption: '13155kWh'},
          {time: 7, consumption: '13155kWh'},
          {time: 8, consumption: '13155kWh'},
          {time: 9, consumption: '13155kWh'},
          {time: 10, consumption: '13155kWh'},
          {time: 11, consumption: '13155kWh'},
          {time: 12, consumption: '13155kWh'},
        ],
      };
    },
    created() {
      this.$store.commit('setHeader', 'ENTITY');
      this.$store.dispatch('getGeneralInformation');
      this.$store.dispatch('getFormulaElectric');
      this.$store.dispatch('getComponents');
      this.$store.dispatch('getAlarmSetting');
    },
    computed: {
      name() {
        return this.$store.getters.name;
      },
      assetId() {
        return this.$store.getters.assetId;
      },
      additionalInfor() {
        return this.$store.getters.additionalInfor;
      },
      method() {
        return this.$store.getters.method;
      },
      prices() {
        return this.$store.getters.prices;
      },
      meters() {
        return this.$store.getters.meters;
      },
      assets() {
        return this.$store.getters.assets;
      },
      currentWarningRanges() {
        return this.$store.getters.currentWarningRanges;
      },
      currentCriticalRanges() {
        return this.$store.getters.currentCriticalRanges;
      },
      currentWarningSwitchAlarm() {
        return this.$store.getters.currentWarningSwitchAlarm;
      },
      currentCriticalSwitchAlarm() {
        return this.$store.getters.currentCriticalSwitchAlarm;
      },
      powerWarningRanges() {
        return this.$store.getters.powerWarningRanges;
      },
      powerCriticalRanges() {
        return this.$store.getters.powerCriticalRanges;
      },
      powerWarningSwitchAlarm() {
        return this.$store.getters.powerWarningSwitchAlarm;
      },
      powerCriticalSwitchAlarm() {
        return this.$store.getters.powerCriticalSwitchAlarm;
      },
    },
    methods: {
      async change_asset(asset_id){
        this.$store.state.entity.assetId = asset_id;
        this.$store.dispatch('getGeneralInformation');
        this.$store.dispatch('getFormulaElectric');
        this.$store.dispatch('getComponents');
        this.$store.dispatch('getAlarmSetting');
      },
      async getParentAssetId(asset_id){
        var axios = require('axios');
        var config = {
          method: 'get',
          url: 'http://103.28.32.80:8080/api/relations?toId='+asset_id+'&toType=ASSET',
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        };

        let response = await axios(config);
        return response.data[0]['from']['id'];
      },
      async edit_general_information(){
        this.$store.state.controllers.dialog_information = true;
      },
      async remove_asset(){
        var axios = require('axios');
        var data = '';

        var config = {
          method: 'delete',
          url: `${global.methods.baseUrlServer()}api/asset/generalInfor/${this.$store.state.entity.assetId}`,
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          },
          data : data
        };
        this.$store.state.entity.assetId = await this.getParentAssetId(this.$store.state.entity.assetId);
        let self = this;
        axios(config)
          .then(function (response) {
            self.$store.dispatch('getComponents');
            self.$store.dispatch('getTree');
            self.confirm_remove_dialog = false;
          })
          .catch(function (error) {
            console.log(error);
          });

      },
      async get_rssi(){
        var axios = require('axios');
        var config = {
          method: 'get',
          url: 'http://103.28.32.80:8080/api/plugins/telemetry/DEVICE/'+this.$store.state.entity.meters[0].id+'/values/timeseries?interval=60000&limit=100&agg=MIN&orderBy=ASC&useStrictDataTypes=true&keys=RSSI_WIFI&startTs='+(Date.now()-3600000).toString()+'&endTs='+ Date.now(),
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        };
        let self = this;
        axios(config)
          .then(function (response) {
            let arr_label = [];
            let arr_data = [];
            for (let i = 0; i < response.data['RSSI_WIFI'].length; i++) {
              let label = response.data['RSSI_WIFI'][i]['ts'];
              let data = response.data['RSSI_WIFI'][i]['value'];
              arr_label.push(self.$moment(new Date(label)).format("HH:mm"));
              arr_data.push(data);
            }
            self.$store.state.entity.meterInformation['rssi'] = arr_data[arr_data.length-1].toString() + ' dB';
            self.$store.state.entity.rssi_data = {"labels": arr_label, "datasets": [{"data": arr_data,"borderColor": "#6B7FD0", "backgroundColor": "#6B8FD0", "pointRadius": 0}]};
            self.get_sensor_status();
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      async get_sensor_status(){
        var axios = require('axios');
        var config = {
          method: 'get',
          url: 'http://103.28.32.80:8080/api/plugins/telemetry/DEVICE/'+this.$store.state.entity.meters[0].id+'/values/timeseries?limit=10&orderBy=DESC&useStrictDataTypes=true&keys=sensorStatus&startTs=0&endTs='+ Date.now(),
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        };
        let self = this;
        axios(config)
          .then(function (response) {
            console.log(response.data);
            self.$store.state.entity.sensorStatus = response.data['sensorStatus'];
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      get_meterinformation(){
        this.$store.state.controllers.dialog_meterinformation = true;
        var axios = require('axios');
        var config = {
          method: 'get',
          url: 'http://103.28.32.80:8080/api/plugins/telemetry/DEVICE/'+this.$store.state.entity.meters[0].id+'/values/attributes?keys=active,lastActivityTime,lastConnectTime',
          headers: {
            'X-Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        };
        let self = this;
        axios(config)
          .then(function (response) {
            let active_check = [...response.data].filter(e => {
              return e['key'] === 'active';
            });
            let last_active_time_check = [...response.data].filter(e => {
              return e['key'] === "lastActivityTime";
            });
            let last_connect_time_check = [...response.data].filter(e => {
              return e['key'] === "lastConnectTime";
            });
            self.$store.state.entity.meterInformation = {
              "mac": self.$store.state.entity.meters[0].name,
              "active": active_check[0]['value'],
              "last_active_time": self.$moment(new Date(last_active_time_check[0]['value'])).format("DD/MM/YYYY HH:mm:ss"),
              "last_connected_time": self.$moment(new Date(last_connect_time_check[0]['value'])).format("DD/MM/YYYY HH:mm:ss"),
              "rssi": 'cho nó có đã',
            };
            self.get_rssi();
          })
          .catch(function (error) {
            console.log(error);
          });

      },
    },
    watch: {
      assetId(){
        this.change_asset(this.assetId);
        this.getParentAssetId(this.assetId);
      },
    },
  }
</script>

<style>
  .card-outter {
    position: relative;
    padding-bottom: 50px;
  }

  .card-actions {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .content {
    padding-top: 5px;
    font-size: 16px;
  }
  .v-btn--icon.v-size--question {
    height: 34.5px;
    width: 34.5px;
    font-size: 22px;
  }

  .v-btn--icon.v-size--plus {
    height: 32.5px;
    width: 32.5px;
    font-size: 22px;
  }

  i.icon {
    width: 0.9em;
    margin: 0;
  }
</style>
