<template>
  <v-app>
    <v-main>
      <div class="content-wrapper">
        <section class="content">
          <v-row dense>
            <v-col cols="12" md="12">
              <v-card>
                <v-card-text>
                  <div class="ui form">
                    <div class="input-form">
                      <form @submit="submitForm" class="ui form">
                        <div class="inline fields">
                          <label for="report">Periods:</label>
                          <div class="field">
                            <div class="ui radio checkbox">
                              <input type="radio" name="report" v-model="fields.termAndConditions" value="year">
                              <label>Year</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui radio checkbox">
                              <input type="radio" name="report" v-model="fields.termAndConditions" value="month">
                              <label>Month</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui radio checkbox">
                              <input type="radio" name="report" v-model="fields.termAndConditions" value="day">
                              <label>Day</label>
                            </div>
                          </div>
                        </div>
                        <div class="field" v-show="fields.termAndConditions === 'year'">
                          <label>Year</label>
                          <select v-model="fields.year" class="ui fluid search dropdown">
                            <option disabled value="">Please select one</option>
                            <option v-for="item in [2019, 2020, 2021]">{{item}}</option>
                          </select>
                        </div>
                        <div class="two fields" v-show="fields.termAndConditions === 'month'">
                          <div class="field">
                            <label>Year</label>
                            <select v-model="fields.year" class="ui fluid search dropdown">
                              <option disabled value="">Please select one</option>
                              <option v-for="item in [2019, 2020, 2021]">{{item}}</option>
                            </select>
                          </div>
                          <div class="field">
                            <label>Month</label>
                            <select v-model="fields.month" class="ui fluid search dropdown">
                              <option disabled value="">Please select one</option>
                              <option v-for='(item, index) in ["January","February","March","April","May","June",
                                      "July","August","September","October","November","December"]' :value="index+1">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="three fields" v-show="fields.termAndConditions === 'day'">
                          <div class="field">
                            <label>Year</label>
                            <select v-model="fields.year" class="ui fluid search dropdown">
                              <option disabled value="">Please select one</option>
                              <option v-for="item in [2019, 2020, 2021]">{{item}}</option>
                            </select>
                          </div>
                          <div class="field">
                            <label>Month</label>
                            <select v-model="fields.month" class="ui fluid search dropdown">
                              <option disabled value="">Please select one</option>
                              <option v-for='(item, index) in ["January","February","March","April","May","June",
                                      "July","August","September","October","November","December"]' :value="index+1">{{item}}</option>
                            </select>
                          </div>
                          <div class="field">
                            <label>Day</label>
                            <select v-model="fields.day" class="ui fluid search dropdown" v-if="fields.month === 2 && fields.year % 4 === 0">
                              <option disabled value="">Please select one</option>
                              <option v-for='item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                                      11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                                                      21, 22, 23, 24, 25, 26, 27, 28, 29]'>{{item}}</option>
                            </select>
                            <select v-model="fields.day" class="ui fluid search dropdown" v-else-if="fields.month === 2 && fields.year % 4 !== 0">
                              <option disabled value="">Please select one</option>
                              <option v-for='item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                                      11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                                                      21, 22, 23, 24, 25, 26, 27, 28]'>{{item}}</option>
                            </select>
                            <select v-model="fields.day" class="ui fluid search dropdown" v-show="fields.month % 2 === 1">
                              <option disabled value="">Please select one</option>
                              <option v-for='item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                                      11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                                                      21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]'>{{item}}</option>
                            </select>
                            <select v-model="fields.day" class="ui fluid search dropdown" v-show="fields.month % 2 === 0 && fields.month !== 2">
                              <option disabled value="">Please select one</option>
                              <option v-for='item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                                      11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                                                      21, 22, 23, 24, 25, 26, 27, 28, 29, 30]'>{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <button class="ui button">Submit</button>
                      </form>
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" md="3">
              <v-row>
                <v-col cols="12">
                  <v-card>
                    <v-card-text>
                      <div class="ui three statistics">
                        <div class="statistic">
                          <div class="label">
                            Active
                          </div>
                          <div class="value">
                            7
                          </div>
                        </div>
                        <div class="statistic">
                          <div class="label">
                            <i class="icon exclamation triangle"></i>
                          </div>
                          <div class="value">
                            7
                          </div>
                        </div>
                        <div class="statistic">
                          <div class="label">
                            <i class="icon bell"></i>
                          </div>
                          <div class="value">
                            0
                          </div>
                        </div>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-card>
                    <v-card-text>
                      <div class="ui two statistics">
                        <div class="statistic">
                          <div class="label">
                            Total
                          </div>
                          <div class="value">
                            31
                          </div>
                        </div>
                        <div class="statistic">
                          <div class="label">
                            Unacknowledged
                          </div>
                          <div class="value">
                            2
                          </div>
                        </div>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-card>
                    <v-card-text>
                      <canvas ref="pieChartAlarm"></canvas>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-card>
                    <v-card-text>
                      <canvas ref="pieChartDevice"></canvas>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" md="9">
              <v-card>
                <v-card-text>
                  <div class="ui form">
                    <div class="input-form">
                      <form @submit="submitFormTable" class="ui form">
                        <div class="inline fields">
                          <div class="four wide field">
                            <select v-model="fields.status" class="ui fluid search dropdown">
                              <option value="">All status</option>
                              <option value="ACTIVE_UNACK">Active Unacknowledged</option>
                              <option value="ACTIVE_ACK">Active Acknowledged</option>
                              <option value="CLEARED_UNACK">Cleared Unacknowledged</option>
                              <option value="CLEARED_ACK">Cleared Acknowledged</option>
                            </select>
                          </div>
                          <div class="four wide field">
                            <select v-model="fields.severity" class="ui fluid search dropdown">
                              <option value="">All severity</option>
                              <option value="critical">Critical</option>
                              <option value="warning">Warning</option>
                            </select>
                          </div>
                          <div class="four wide field">
                            <select v-model="fields.type" class="ui fluid search dropdown">
                              <option value="">All type</option>
                              <option value="current">Current</option>
                              <option value="activePower">Active Power</option>
                            </select>
                          </div>
                          <button class="ui button">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </section>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import moment from 'moment';
export default {
  name: 'Alarm',
  data() {
    return {
      fields: {
        termAndConditions: false,
        year: '',
        month: '',
        day: '',
        status: '',
        severity: '',
        type: '',
      },
      pieChartAlarm: null,
      pieChartDevice: null
    };
  },
  methods: {
    async updatedAssetId() {
      var thisYear = moment(new Date(Date.now())).format("YYYY");
      var thisMonth = moment(new Date(Date.now())).format("MM");
      var startTs = Date.parse(`${thisYear}-${thisMonth} GMT+7`);
      var endTs = Date.parse(`${thisYear}-${parseInt(thisMonth)+1} GMT+7`);
      await this.$store.dispatch('getAlarmTableSite', {
        assetId: this.assetId,
        page: 0,
        startTs: startTs,
        endTs: endTs,
        status: '',
        textSearch: '',
      })
      console.log(this.itemSites);
    },
    async drawPieChartAlarm() {
      if(this.pieChartAlarm != null) this.pieChartAlarm.destroy();
      this.pieChartAlarm = new Chart(this.$refs.pieChartAlarm.getContext('2d'), {
        type: 'doughnut',
        options: {
          plugins: {
            legend: {
              display: true,
              position: 'right',
              labels: {
                boxWidth: 10,
                boxHeight: 10,
              }
            },
          },
          maintainAspecRatio: false,
        },
        data: {
          labels: ['warning', 'critical'],
          datasets: [{
            data: [Math.random() * 10, Math.random() * 10],
            backgroundColor: [
              '#FFB926','#D11616'
            ]
          }],
        },
      });
    },
    async drawPieChartDevice() {
      if(this.pieChartDevice != null) this.pieChartDevice.destroy();
      this.pieChartDevice = new Chart(this.$refs.pieChartDevice.getContext('2d'), {
        type: 'doughnut',
        options: {
          plugins: {
            legend: {
              display: true,
              position: 'right',
              labels: {
                boxWidth: 10,
                boxHeight: 10,
              }
            },
          },
          maintainAspecRatio: false,
        },
        data: {
          labels: ['from parameter', 'from sensor'],
          datasets: [{
            data: [Math.random() * 10, Math.random() * 10],
            backgroundColor: [
              '#4472C4','#70AD47'
            ]
          }],
        },
      });
    },
    submitForm(evt) {
      evt.preventDefault();
      console.log(this.fields.termAndConditions);
    },
    submitFormTable(evt) {
      evt.preventDefault();
      console.log(this.fields.type);
    },
    itemRowBackground(item) {
      return item.status === 'ACTIVE_UNACK' || item.status === 'CLEARED_UNACK' ? 'style-1' : 'style-2'
    },
  },
  computed: {
    ...mapGetters([
      'assetId',
      'pageCountSite',
      'itemSites'
    ])
  },
  watch: {
    async assetId() {
      await this.updatedAssetId();
      await this.drawPieChartAlarm();
      await this.drawPieChartDevice();
    },
  },
  async mounted() {
    this.$store.commit('setHeader', 'Alarm');
    await this.updatedAssetId();
    await this.drawPieChartAlarm();
    await this.drawPieChartDevice();
  },
}
</script>

<style>
.ui.checkbox input[type=checkbox], 
.ui.checkbox input[type=radio] {
  top: 7px;
}
.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
  margin-left: 0 !important;
}
input[type=checkbox], 
input[type=radio] {
  margin: 0 !important;
}
.style-1 {
  background-color: #E6ECEC;
}
.style-2 {
  background-color: #fff;
}
.style-severity-1 input {
  color: #D11616 !important;
}
.style-severity-2 input {
  color: #FFB926 !important;
}
</style>