<template>
  <v-app>
    <v-main>
      <div class="content-wrapper">
        <section class="content">
          <v-row align="center">
            <v-col cols="12" md="2"></v-col>
            <v-col cols="12" md="8">
              <v-card>
                <v-card-text>
                    <div class="ui form">
                      <h2 class="ui header">Electric Report</h2>
                      <div class="input-form">
                        <form @submit="submitForm" class="ui form">
                          <!-- <div class="field">
                            <label>New Item</label>
                            <input v-model="fields.newItem" type="text" placeholder="Add an item!">
                            <span style="float: right">{{ fields.newItem.length }}/20</span>
                            <span style="color: red">{{ fieldErrors.newItem }}</span>
                            <span v-if="isNewItemInputLimitExceeded"
                              style="color: red; display: block">
                              Must be under twenty characters
                            </span>
                          </div>
                          <div class="field">
                            <label>Email</label>
                            <input v-model="fields.email" type="text" placeholder="What's your email?">
                            <span style="color: red">{{ fieldErrors.email }}</span>
                          </div>
                          <div class="field">
                            <label>Urgency</label>
                            <select v-model="fields.urgency" class="ui fluid search dropdown">
                              <option disabled value="">Please select one</option>
                              <option>Nonessential</option>
                              <option>Moderate</option>
                              <option>Urgent</option>
                            </select>
                            <span style="color: red">{{ fieldErrors.urgency }}</span>
                            <span v-if="isNotUrgent"
                              style="color: red; display: block">
                              Must be moderate to urgent
                            </span>
                          </div> -->
                          <div class="inline fields">
                            <label for="report">Periods:</label>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="report" v-model="fields.termAndConditions" value="month">
                                <label>Month</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="report" v-model="fields.termAndConditions" value="quarter">
                                <label>Quarter</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="report" v-model="fields.termAndConditions" value="year">
                                <label>Year</label>
                              </div>
                            </div>
                            <span style="color: red">{{ fieldErrors.termAndConditions }}</span>
                          </div>
                          <div class="field" v-show="fields.termAndConditions === 'year'">
                            <label>Year</label>
                            <select v-model="fields.year" class="ui fluid search dropdown">
                              <option disabled value="">Please select one</option>
                              <option v-for="item in [2019, 2020, 2021]">{{item}}</option>
                            </select>
                            <span style="color: red">{{ fieldErrors.year }}</span>
                          </div>
                          <div class="two fields" v-show="fields.termAndConditions === 'quarter'">
                            <div class="field">
                              <label>Quarter</label>
                              <select v-model="fields.quarter" class="ui fluid search dropdown">
                                <option disabled value="">Please select one</option>
                                <option v-for="item in [1, 2, 3, 4]">{{item}}</option>
                              </select>
                              <span style="color: red">{{ fieldErrors.quarter }}</span>
                            </div>
                            <div class="field">
                              <label>Year</label>
                              <select v-model="fields.year" class="ui fluid search dropdown">
                                <option disabled value="">Please select one</option>
                                <option v-for="item in [2019, 2020, 2021]">{{item}}</option>
                              </select>
                              <span style="color: red">{{ fieldErrors.year }}</span>
                            </div>
                          </div>
                          <div class="two fields" v-show="fields.termAndConditions === 'month'">
                            <div class="field">
                              <label>Month</label>
                              <select v-model="fields.month" class="ui fluid search dropdown">
                                <option disabled value="">Please select one</option>
                                <option v-for='(item, index) in ["January","February","March","April","May","June",
                                        "July","August","September","October","November","December"]' :value="index+1">{{item}}</option>
                              </select>
                              <span style="color: red">{{ fieldErrors.month }}</span>
                            </div>
                            <div class="field">
                              <label>Year</label>
                              <select v-model="fields.year" class="ui fluid search dropdown">
                                <option disabled value="">Please select one</option>
                                <option v-for="item in [2019, 2020, 2021]">{{item}}</option>
                              </select>
                              <span style="color: red">{{ fieldErrors.year }}</span>
                            </div>
                          </div>
                          <button :disabled="isNewItemInputLimitExceeded || isNotUrgent"
                            class="ui button">Submit</button>
                        </form>
                        <!-- <div class="ui segment">
                          <h4 class="ui header">Items</h4>
                          <ul>
                            <li v-for="item in items" class="item">{{ item }}</li>
                          </ul>
                        </div> -->
                      </div>
                    </div>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="2"></v-col>
          </v-row>
        </section>
      </div>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'Report',
  data() {
    return {
      fields: {
        newItem: '',
        email: '',
        urgency: '',
        termAndConditions: false,
        year: '',
        quarter: '',
        month: ''
      },
      fieldErrors: {
        newItem: undefined,
        email: undefined,
        urgency: undefined,
        termAndConditions: undefined,
        year: undefined,
        quarter: undefined,
        month: undefined
      },
      items: [],
    };
  },
  methods: {
    async submitForm(evt) {
      evt.preventDefault();

      this.fieldErrors = this.validateForm(this.fields);
      if (Object.keys(this.fieldErrors).length) return;
      if (this.fields.termAndConditions === 'month') {
        await this.$store.dispatch('createReport', {
          assetId: this.$store.state.entity.assetId,
          assetName: this.$store.state.entity.name,
          interval: this.fields.termAndConditions,
          month: this.fields.month,
          year: this.fields.year,
          quarter: 0
        });
      } else if (this.fields.termAndConditions === 'quarter') {
        await this.$store.dispatch('createReport', {
          assetId: this.$store.state.entity.assetId,
          assetName: this.$store.state.entity.name,
          interval: this.fields.termAndConditions,
          month: 0,
          year: this.fields.year,
          quarter: this.fields.quarter
        });
      } else if (this.fields.termAndConditions === 'year') {
        await this.$store.dispatch('createReport', {
          assetId: this.$store.state.entity.assetId,
          assetName: this.$store.state.entity.name,
          interval: this.fields.termAndConditions,
          month: 0,
          year: this.fields.year,
          quarter: 0
        });
      }
      if (this.$store.state.report.result === 200) {
        console.log('ok 1');
        await this.$store.dispatch('getReport');
      }
    },
    validateForm(fields) {
      const errors = {};
      if (!fields.termAndConditions) {
        errors.termAndConditions = "have to be approved";
        if (fields.termAndConditions === 'month') {
          if (!fields.year) errors.year = "Year Required";
          if (!fields.month) errors.month = "Month Required";
        }
        if (fields.termAndConditions === 'quarter') {
          if (!fields.year) errors.year = "Year Required";
          if (!fields.quarter) errors.quarter = "Quarter Required";
        }
        if (fields.termAndConditions === 'month') {
          if (!fields.year) errors.year = "Year Required";
        }
      }
      return errors;
    },
    isEmail(email) {
      const re = /\S+@\S+\.\S+/;
      return re.test(email);
    }
  },
  computed: {
    isNewItemInputLimitExceeded() {
      return this.fields.newItem.length >= 20;
    },
    isNotUrgent() {
      return this.fields.urgency === 'Nonessential';
    },
  },
  async mounted() {
    this.$store.commit('setHeader', 'REPORT');
  },
}
</script>

<style>
.ui.checkbox input[type=checkbox], 
.ui.checkbox input[type=radio] {
  top: 7px;
}
.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
  margin-left: 0 !important;
}
input[type=checkbox], 
input[type=radio] {
  margin: 0 !important;
}
</style>