<template>
  <v-app>
    <v-main>
      <div class="content-wrapper">
        <section class="content">
        </section>
      </div>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'Analyst',
  async mounted() {
    this.$store.commit('setHeader', 'Analyst');
  },
}
</script>

<style>
</style>